force-app/main/default/flows/AccountingNoteUpdateFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddingToListofAssignments</name>
        <label>AddingToListofAssignments</label>
        <locationX>1128</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>ListOfChildRegistrations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachRegistration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_registrations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>958</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>EachRegistration.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Course_Registration__r.Payment_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachRegistration.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Course_Registration__r.Registration_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachRegistration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_child_registrations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddingToListofAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Terminate_Flow</name>
        <label>Terminate Flow</label>
        <locationX>729</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>StopFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AccountingNotesRecordTypes</name>
        <label>AccountingNotesRecordTypes</label>
        <locationX>92</locationX>
        <locationY>333</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInvoiceCreditNote</targetReference>
            </connector>
            <label>Credit Note</label>
        </rules>
        <rules>
            <name>Debit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInvoiceDebitNote</targetReference>
            </connector>
            <label>Debit_Note</label>
        </rules>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRefundInvoice</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Invoice_Status</name>
        <label>Check for Invoice Status</label>
        <locationX>413</locationX>
        <locationY>771</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Invoice_Records.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminate_Flow</targetReference>
            </connector>
            <label>Invoice Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChildRecordsNotNull</name>
        <label>ChildRecordsNotNull</label>
        <locationX>1091</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildRegistrations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_child_registrations</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RegistrationExist</name>
        <label>RegistrationExist</label>
        <locationX>604</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Registration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Remark_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCC002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Remark_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCC001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StopFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registration</targetReference>
            </connector>
            <label>Yes_AccountingNotes</label>
        </rules>
        <rules>
            <name>Yes_DebitNotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit_Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_Registration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRegistrationDebitNote</targetReference>
            </connector>
            <label>Yes_DebitNotes</label>
        </rules>
        <rules>
            <name>Yes_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_Registration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRefundRegistration</targetReference>
            </connector>
            <label>Yes_Refund</label>
        </rules>
    </decisions>
    <description>Flow by Nirosha</description>
    <interviewLabel>AccountingNoteUpdateFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountingNoteUpdateFlowTrigger</label>
    <loops>
        <name>Loop_through_child_registrations</name>
        <label>Loop through child registrations</label>
        <locationX>991</locationX>
        <locationY>339</locationY>
        <collectionReference>ChildRegistrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateChildRegistrations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Invoice_Records</name>
        <label>Loop through Invoice Records</label>
        <locationX>477</locationX>
        <locationY>593</locationY>
        <collectionReference>Invoice_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Invoice_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RegistrationExist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ChildRegistrations</name>
        <label>ChildRegistrations</label>
        <locationX>927</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChildRecordsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Invoice_Records</name>
        <label>Invoice Records</label>
        <locationX>419</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Invoice_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration</name>
        <label>Update Registration</label>
        <locationX>699</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>ChildRegistrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateChildRegistrations</name>
        <label>UpdateChildRegistrations</label>
        <locationX>1234</locationX>
        <locationY>266</locationY>
        <inputReference>ListOfChildRegistrations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInvoiceCreditNote</name>
        <label>UpdateInvoiceCreditNote</label>
        <locationX>249</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Invoice_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled - Credit Note</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInvoiceDebitNote</name>
        <label>UpdateInvoiceDebitNote</label>
        <locationX>239</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Invoice_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled - Debit Note</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRefundInvoice</name>
        <label>UpdateRefundInvoice</label>
        <locationX>207</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Invoice_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRefundRegistration</name>
        <label>UpdateRefundRegistration</label>
        <locationX>731</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>ChildRegistrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRegistrationDebitNote</name>
        <label>updateRegistrationDebitNote</label>
        <locationX>776</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>ChildRegistrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>AccountingNotesRecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROCESSED</stringValue>
            </value>
        </filters>
        <object>Accounting_Notes__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>EachRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Registration__c</objectType>
    </variables>
    <variables>
        <name>ListOfChildRegistrations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Registration__c</objectType>
    </variables>
    <variables>
        <description>Mark this variable to &apos;TRUE&apos; if atleast one of the Invoice status is != Cancelled</description>
        <name>StopFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
