force-app/main/default/flows/AccountingNoteFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1728</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>Note_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Note_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>1784</locationX>
        <locationY>1389</locationY>
        <assignmentItems>
            <assignToReference>Note_Details_For_Advances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Note_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Advances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0</name>
        <label>Add to Collection</label>
        <locationX>658</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>Note_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Note_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Advances_for_DN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounting_Note_to_Variable</name>
        <label>Assign Accounting Note to Variable</label>
        <locationX>2021</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>CloneAccountingNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounting_Note_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Id</name>
        <label>Clear Id</label>
        <locationX>2019</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>CloneAccountingNote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAccountingNote.Debit_Note_for_Advances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAccountingNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_for_DN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAccountingNote.Note_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Debit_Note_for_Advance_Offsets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>1727</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Nett_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Nett_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Fee_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Accounting_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Invoice_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Note_Detail_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Line_Item_0</name>
        <label>Create Line Item</label>
        <locationX>1780</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.Advance__r.Fee_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Accounting_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneAccountingNote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Invoice_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.Invoice_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Advance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances.Advance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Note_Detail_RT_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Line_Item_0_0</name>
        <label>Create Line Item</label>
        <locationX>658</locationX>
        <locationY>917</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances_for_DN.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances_for_DN.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances_for_DN.Fee_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Accounting_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.Advance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances_for_DN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advances_for_DN.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note_Detail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeductionRT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deduction_RT</name>
        <label>Set Deduction RT</label>
        <locationX>244</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>DeductionRT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_RTs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Detail_RT</name>
        <label>Set Detail RT</label>
        <locationX>248</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>DetailRT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_RTs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_for_CN_Invoice</name>
        <label>Set for CN Invoice</label>
        <locationX>807</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Invoice_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Invoice_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_for_DN_Refund</name>
        <label>Set for DN/Refund</label>
        <locationX>806</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>Invoice_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Receipt__r.Payment__r.Invoice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Invoice_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Deduction</name>
        <label>Set to Deduction</label>
        <locationX>1942</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeductionRT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Deduction_0</name>
        <label>Set to Deduction</label>
        <locationX>1952</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeductionRT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Detail</name>
        <label>Set to Detail</label>
        <locationX>2105</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetailRT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Detail_0</name>
        <label>Set to Detail</label>
        <locationX>2115</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>Note_Detail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetailRT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accounting_Note_Type</name>
        <label>Accounting Note Type</label>
        <locationX>438</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice/Receipt based</defaultConnectorLabel>
        <rules>
            <name>Refund_for_Advances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Debit_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Advances_for_DN</targetReference>
            </connector>
            <label>Refund for Advances</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_RT</name>
        <label>Assign RT</label>
        <locationX>73</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Detail_RT_for_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_RTs.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_RTs.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deduction__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Detail_RT</targetReference>
            </connector>
            <label>Detail RT for Detail</label>
        </rules>
        <rules>
            <name>Deduction_RT_for_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_RTs.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detail_with_Deductions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_RTs.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deduction__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deduction_RT</targetReference>
            </connector>
            <label>Deduction RT for Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Invoice_Id</name>
        <label>Get Invoice Id</label>
        <locationX>682</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Set_for_DN_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Note is DN or Refund</defaultConnectorLabel>
        <rules>
            <name>Note_is_CN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_for_CN_Invoice</targetReference>
            </connector>
            <label>Note is CN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Advance_Offsets</name>
        <label>Has Advance Offsets</label>
        <locationX>1496</locationX>
        <locationY>940</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Advances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounting_Note_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Type</name>
        <label>Invoice Type</label>
        <locationX>1039</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Related_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Info.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Lookup_for_Acct_Invoice</targetReference>
            </connector>
            <label>Account Related Invoice</label>
        </rules>
        <rules>
            <name>Registration_Related_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Info.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Registration_Invoice</targetReference>
            </connector>
            <label>Registration Related Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Line_Item_has_value</name>
        <label>Line Item has value</label>
        <locationX>1585</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_LineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Line_Items.Nett_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Note_Detail_RT</name>
        <label>Set Note Detail RT</label>
        <locationX>1938</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Set_to_Deduction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Detail</targetReference>
            </connector>
            <label>Accounting Note is a Credit Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Note_Detail_RT_0</name>
        <label>Set Note Detail RT</label>
        <locationX>1947</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>Set_to_Deduction_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Note_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Detail_0</targetReference>
            </connector>
            <label>Accounting Note is a Credit Note</label>
        </rules>
    </decisions>
    <description>Added Debit Note Creation for Advance Offsets. Added Refund for Debit Note</description>
    <interviewLabel>AccountingNoteFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountingNoteFlowTrigger</label>
    <loops>
        <name>Loop_Through_Advances</name>
        <label>Loop Through Advances</label>
        <locationX>1505</locationX>
        <locationY>1264</locationY>
        <collectionReference>Get_Advances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Line_Item_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Note_Details_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Advances_for_DN</name>
        <label>Loop Through Advances for DN</label>
        <locationX>445</locationX>
        <locationY>1020</locationY>
        <collectionReference>Get_Advances_for_DN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Line_Item_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Note_Details_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through and create the Note Detail Records</description>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>1500</locationX>
        <locationY>479</locationY>
        <collectionReference>Get_All_Invoice_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Line_Item_has_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Note_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_RTs</name>
        <label>Loop Through RTs</label>
        <locationX>168</locationX>
        <locationY>609</locationY>
        <collectionReference>Get_Record_Types_For_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Accounting_Note_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Debit_Note_for_Advance_Offsets</name>
        <label>Create Debit Note for Advance Offsets</label>
        <locationX>1505</locationX>
        <locationY>1076</locationY>
        <connector>
            <targetReference>Loop_Through_Advances</targetReference>
        </connector>
        <inputReference>CloneAccountingNote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_Details</name>
        <label>Create Note Details</label>
        <locationX>1500</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Get_Advances</targetReference>
        </connector>
        <inputReference>Note_Details</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_Details_0</name>
        <label>Create Note Details</label>
        <locationX>1263</locationX>
        <locationY>1266</locationY>
        <inputReference>Note_Details_For_Advances</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_Details_0_0</name>
        <label>Create Note Details</label>
        <locationX>445</locationX>
        <locationY>1299</locationY>
        <inputReference>Note_Details</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounting_Note_Information</name>
        <label>Get Accounting Note Information</label>
        <locationX>1698</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_for_DN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accounting_Notes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Advances</name>
        <label>Get Advances</label>
        <locationX>1504</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Advance_Offsets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Advance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Advances_for_DN</name>
        <label>Get Advances for DN</label>
        <locationX>444</locationX>
        <locationY>861</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Advances_for_DN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accounting_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Debit_Note__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Advance_Offset_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Advance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Invoice_Line_Items</name>
        <label>Get All Invoice Line Items</label>
        <locationX>1364</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_for_DN</name>
        <label>Get Record Type for DN</label>
        <locationX>1847</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Accounting_Note_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debit_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting_Notes__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types_For_Detail</name>
        <label>Get Record Types for Detail</label>
        <locationX>177</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_RTs</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Detail_with_Deductions</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deduction__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Invoice_Info</name>
        <label>Get Related Invoice Info</label>
        <locationX>986</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_for_Registration_Invoice</name>
        <label>Update for Registration Invoice</label>
        <locationX>1180</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Get_All_Invoice_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Related_Invoice_Info.Course_Registration__r.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Registration__c</field>
            <value>
                <elementReference>Get_Related_Invoice_Info.Course_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Accounting_Notes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Lookup_for_Acct_Invoice</name>
        <label>Update Related Lookup for Acct Invoice</label>
        <locationX>1167</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Get_All_Invoice_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Related_Invoice_Info.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Accounting_Notes__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Types_For_Detail</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Receipt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Debit_Note_for_Advances__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Debit_Note__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Accounting_Notes__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneAccountingNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounting_Notes__c</objectType>
    </variables>
    <variables>
        <name>CNRT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeductionRT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailRT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invoice_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Note_Detail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deduction__c</objectType>
    </variables>
    <variables>
        <name>Note_Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deduction__c</objectType>
    </variables>
    <variables>
        <name>Note_Details_For_Advances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deduction__c</objectType>
    </variables>
</Flow>
