force-app/main/default/flows/AccountValidateMembership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>Validate_Account_Membership_Custom_Event</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Validate_Account_Membership__e</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Application_Log_Record_Insert</name>
        <label>Check If Application Log Record Insert</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Account_Membership_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used to create an Application log record and create/ publish an event (validate_Account_Membership__e)</description>
    <interviewLabel>AccountValidateMembership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountValidateMembership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log_Record</name>
        <label>Create Application Log Record</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignRecordIdToReference>ApplicationRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Application_Log_Record_Insert</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <elementReference>Validate_Account_Membership_Custom_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Validate_Account_Membership_Event</name>
        <label>Validate_Account_Membership Event</label>
        <locationX>484</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>ValidateAccountMembershipId</assignRecordIdToReference>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>ApplicationRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Validate_Account_Membership__e</object>
    </recordCreates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Application_Log_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApplicationRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The contact record Id from where the event has been fired.</description>
        <name>contactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>ValidateAccountMembershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
