force-app/main/default/flows/Community_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Invoice</name>
        <label>Generate Invoice</label>
        <locationX>876</locationX>
        <locationY>818</locationY>
        <actionName>InvoiceUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoice_Ready</targetReference>
        </connector>
        <inputParameters>
            <name>courseRegId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>invoiceId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_To_Invoice</name>
        <label>Redirect To Invoice</label>
        <locationX>1872</locationX>
        <locationY>817</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Invoice_Ready</name>
        <label>Invoice Ready</label>
        <locationX>1046</locationX>
        <locationY>820</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Ready_Redirect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step</name>
        <label>Next Step</label>
        <locationX>228</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registration_Processed</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Processed_Screen</targetReference>
            </connector>
            <label>Registration Processed</label>
        </rules>
        <rules>
            <name>Available_for_Payment_but_no_Invoice</name>
            <conditionLogic>1 AND 2 AND 3 AND 6 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration.IsMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Funding_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Course_Run_Id__r.Course__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funded Course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Registration</targetReference>
            </connector>
            <label>Available for Payment but no Invoice</label>
        </rules>
        <rules>
            <name>Invoice_is_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Ready_Screen</targetReference>
            </connector>
            <label>Invoice is Ready</label>
        </rules>
        <rules>
            <name>Not_Available_for_Payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.IsMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotAvailableForPayment</targetReference>
            </connector>
            <label>Not Available for Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_With_Payment</name>
        <label>Proceed With Payment</label>
        <locationX>679</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Payment_Later_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>makePaymentResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Community Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Payment1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>1529</locationX>
        <locationY>819</locationY>
        <assignRecordIdToReference>applicationLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Generate_Invoice__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>1692</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Redirect_To_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>applicationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>Generate_Invoice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Funding_Info</name>
        <label>Get Funding Info</label>
        <locationX>412</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Learner_Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>575</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registration</name>
        <label>Get Registration</label>
        <locationX>233</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Submit_Registration_and_Update_to_New</name>
        <label>Submit Registration and Update to New</label>
        <locationX>334</locationX>
        <locationY>821</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Submit_Registration_and_Update_to_New_0</name>
        <label>Submit Registration and Update to New</label>
        <locationX>502</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Proceed_With_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>1389</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>Create_App_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Invoice Generation - In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Invoice_Ready_Redirect</name>
        <label>Invoice Ready Redirect</label>
        <locationX>1235</locationX>
        <locationY>819</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
        <fields>
            <name>InvoiceReadyRedirectMsg</name>
            <fieldText>&lt;p&gt;The invoice for your registration has now been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will now redirect you to the invoice and after reviewing the invoice information, you can proceed to click on the &quot;Make Payment&quot; button to complete your payment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Ready_Screen</name>
        <label>Invoice Ready</label>
        <locationX>50</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvoiceReadyMsg</name>
            <fieldText>&lt;p&gt;Invoice has been generated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please view your available invoices by clicking the Invoices list on the right side of your screen&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotAvailableForPayment</name>
        <label>NotAvailableForPayment</label>
        <locationX>332</locationX>
        <locationY>610</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Registration_and_Update_to_New</targetReference>
        </connector>
        <fields>
            <name>NotAvailableForPaymentMessage</name>
            <fieldText>&lt;p&gt;{!$Label.CourseRegistration_ExecutiveMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Later_Screen</name>
        <label>Payment Later</label>
        <locationX>687</locationX>
        <locationY>1016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAvailableForPaymentMessage_0_0</name>
            <fieldText>&lt;p&gt;{!$Label.CourseRegistration_ExecutiveMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Processed_Screen</name>
        <label>Registration Processed</label>
        <locationX>187</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAvailableForPaymentMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This registration has been processed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Registration</name>
        <label>Submit Registration</label>
        <locationX>497</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Registration_and_Update_to_New_0</targetReference>
        </connector>
        <fields>
            <name>MakePayment</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to proceed for payment now?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>makePaymentResult</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>108</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>makePaymentResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
