force-app/main/default/flows/Convert_B2C_Learner_to_B2B_Account_with_Learner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>originalAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>originalAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMPANY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Account_Name_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_B2B_Learner_Record_Type_to_Contact</name>
        <label>Assign B2B Learner Record Type to Contact</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>newB2BLearner.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Contact_Record_Type_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Business_Record_Type_to_Account</name>
        <label>Assign Business Record Type to Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>originalAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessRecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_new_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_company_name</name>
        <label>Save company name</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>companyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>companyAccount.Company_Name__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Business_Record_Type_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Details_of_Disabled_Community_User</name>
        <label>Update Details of Disabled Community User</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>DisabledUser.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisabledUser.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Disabled_Community_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_User</name>
        <label>Update New User</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>NewUser.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedUsername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newB2BLearner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_B2B_Learner_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Community_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Community_User_Disabled</name>
        <label>Existing Community User Disabled?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Disable_Community_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Disabled</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisabledUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisabledUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_company_name</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <formulas>
        <name>UpdatedEmail</name>
        <dataType>String</dataType>
        <expression>&apos;deactivated_&apos; + {!companyAccount.PersonEmail}</expression>
    </formulas>
    <formulas>
        <name>UpdatedUsername</name>
        <dataType>String</dataType>
        <expression>RIGHT({!NewUser.Username}, LEN({!NewUser.Username}) - 1)</expression>
    </formulas>
    <interviewLabel>Convert B2C Learner to B2B Account with Learner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert B2C Learner to B2B Account with Learner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Community_User</name>
        <label>Create Community User</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Sucess_Message</targetReference>
        </connector>
        <inputReference>NewUser</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_B2B_Contact_Record_Type_ID</name>
        <label>Get B2B Contact Record Type ID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B Learner</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ContactRecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_Learner</name>
        <label>Get B2B Learner</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_B2B_Learner_Record_Type_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>newB2BLearner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_Learner_Profile</name>
        <label>Get B2B Learner Profile</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_New_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B Learner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type_ID</name>
        <label>Get Business Account Record Type ID</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_B2B_Contact_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>BusinessRecordTypeID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Disabled_Community_User_0</name>
        <label>Get Disabled Community User</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Community_User_Disabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>companyAccount.PersonEmail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>DisabledUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Community_User</name>
        <label>Get New Community User</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Details_of_Disabled_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>companyAccount.PersonEmail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>NewUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>EmailEncodingKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_person_account</name>
        <label>Get person account</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_person_account_s_company_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>originalAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_person_account_s_company_name</name>
        <label>Get person account&apos;s company name</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Disabled_Community_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>companyAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company_Name__pc</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Commit_Account_Name_Update</name>
        <label>Commit Account Name Update</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Get_B2B_Learner</targetReference>
        </connector>
        <inputReference>originalAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_Contact_Record_Type_Update</name>
        <label>Commit Contact Record Type Update</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_B2B_Learner_Profile</targetReference>
        </connector>
        <inputReference>newB2BLearner</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_new_RecordTypeId</name>
        <label>Commit new RecordTypeId</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_New_Community_User</targetReference>
        </connector>
        <inputReference>originalAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disabled_Community_User</name>
        <label>Update Disabled Community User</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Convert_a_Person_Account_to_a_Business_Account</targetReference>
        </connector>
        <inputReference>DisabledUser</inputReference>
    </recordUpdates>
    <screens>
        <name>Convert_a_Person_Account_to_a_Business_Account</name>
        <label>Convert a Person Account to a Business Account</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Name</targetReference>
        </connector>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Company_Name</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disable_Community_User</name>
        <label>Disable Community User</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisableCommunityUserMessage</name>
            <fieldText>&lt;p&gt;Please disable current B2C Learner&apos;s Community User using &quot;Disable Customer Account&quot; action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Message</name>
        <label>Sucess Message</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Conversion has been completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_Account_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>companyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>companyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DisabledUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>newB2BLearner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>originalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
