force-app/main/default/flows/Course_Registration_Chatter_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Owner</name>
        <label>Post to Course Run Owner</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hello @[{!Get_Course_Registration_Record.Course_Run_Id__r.Owner:User.Id}] A New Course Registration {!Get_Course_Registration_Record.Id} has been created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Course_Registration_Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>MVP 1.0 This Auto Launched flow is invoked by the Course Registration PB to create a Chatter Notification</description>
    <interviewLabel>Course Registration _ Chatter Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course_Registration_Chatter_Alert1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Registration_Record</name>
        <label>Get Course Registration Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Course_Run_Owner_Email_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCourseRegistration.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Run_Owner_Email_c</name>
        <label>Update Course_Run_Owner_Email__c</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Post_to_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Registration_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Run_Owner_Email__c</field>
            <value>
                <elementReference>Get_Course_Registration_Record.Course_Run_Id__r.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Registration_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vAlertMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello @[{![Get_Course_Registration_Record.Course_Run_Id__r].Owner:User.Id}] A New Course Registration {!vCourseRegistration.Name} has been created for the {!vCourseRegistration.Course_Run_Id__r.Name}</text>
    </textTemplates>
    <variables>
        <name>vCourseRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course_Registration__c</objectType>
    </variables>
</Flow>
