force-app/main/default/flows/CourseRunUpdateCertCourseNameProperText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>CourseRunUpdateCertCourseNameProperText {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CourseRunUpdateCertCourseNameProperText</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCourseRunBystrCourseRunID</name>
        <label>GetCourseRunBystrCourseRunID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CertCourseRunProperText</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCourseRunID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCertCourseNamePropertext</name>
        <label>UpdateCertCourseNamePropertext</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCourseRunID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Course_Name__c</field>
            <value>
                <elementReference>CertCourseRunProperText.OutputString</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseRunBystrCourseRunID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CertCourseRunProperText</name>
        <label>CertCourseRunProperText</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>UpdateCertCourseNamePropertext</targetReference>
        </connector>
        <flowName>TextToProperText</flowName>
        <inputAssignments>
            <name>InputString</name>
            <value>
                <elementReference>GetCourseRunBystrCourseRunID.Course__r.Course_Title__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>strCourseRunID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
