force-app/main/default/flows/CourseRunPublished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>EndDt</name>
        <dataType>String</dataType>
        <expression>{!GetCourseRun.End_Time__c}</expression>
    </formulas>
    <formulas>
        <name>PublishedDate</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>StartDt</name>
        <dataType>String</dataType>
        <expression>{!GetCourseRun.Start_Time__c}</expression>
    </formulas>
    <interviewLabel>CourseRunPublished {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CourseRunPublished</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCourseRun</name>
        <label>GetCourseRun</label>
        <locationX>97</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePublishedInfoOnCourseRun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseRunId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePublishedInfoOnCourseRun</name>
        <label>UpdatePublishedInfoOnCourseRun</label>
        <locationX>351</locationX>
        <locationY>212</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseRunId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Publish_Date__c</field>
            <value>
                <elementReference>PublishedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_By__c</field>
            <value>
                <elementReference>GetCourseRun.CMS_Request_By__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_End_Date__c</field>
            <value>
                <elementReference>GetCourseRun.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_End_Time__c</field>
            <value>
                <elementReference>GetCourseRun.End_Time_fmla__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Registration_Close_Date__c</field>
            <value>
                <elementReference>GetCourseRun.Registration_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Start_Date__c</field>
            <value>
                <elementReference>GetCourseRun.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Start_Time__c</field>
            <value>
                <elementReference>GetCourseRun.Start_Time_fmla__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Venue__c</field>
            <value>
                <elementReference>GetCourseRun.Venue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCourseRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseRunId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
