force-app/main/default/flows/CoursePublished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>PublishedDate</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>CoursePublished {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoursePublished</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCourseDetails</name>
        <label>GetCourseDetails</label>
        <locationX>152</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCoursePublishedInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCoursePublishedInfo</name>
        <label>UpdateCoursePublishedInfo</label>
        <locationX>340</locationX>
        <locationY>306</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Publish_Date__c</field>
            <value>
                <elementReference>PublishedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Additional_Notes__c</field>
            <value>
                <elementReference>GetCourseDetails.Additional_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_By__c</field>
            <value>
                <elementReference>GetCourseDetails.CMS_Request_By__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Course_Benefits__c</field>
            <value>
                <elementReference>GetCourseDetails.Course_Benefits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Course_Leader__c</field>
            <value>
                <elementReference>GetCourseDetails.Course_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Course_Outline__c</field>
            <value>
                <elementReference>GetCourseDetails.Course_Outline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Course_Overview__c</field>
            <value>
                <elementReference>GetCourseDetails.Course_Overview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Learning_Schedule__c</field>
            <value>
                <elementReference>GetCourseDetails.Learning_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Name__c</field>
            <value>
                <elementReference>GetCourseDetails.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Who_Should_Enroll__c</field>
            <value>
                <elementReference>GetCourseDetails.Who_Should_Enroll__c</elementReference>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCourseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
