force-app/main/default/flows/Course_Registration_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Shorten_URL_Controller</name>
        <label>Call Shorten URL Controller</label>
        <locationX>663</locationX>
        <locationY>1449</locationY>
        <actionName>ShortenURLInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>listCourseRegistrationSurveyURL</name>
            <value>
                <elementReference>listCourseRegistrationSurveyURLFlow</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Values_To_listCourseRegistrationSurveyURL</name>
        <label>Add Values To listCourseRegistrationSurveyURL</label>
        <locationX>651</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Survey_Invitation_Link_Anonymous.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Survey_Invitation_Link_Participant.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCourseRegistration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Shorten_URL_Controller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Anonymous_Survey_Subject</name>
        <label>Assignment for Anonymous Survey Subject</label>
        <locationX>656</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAnonymousSurveyInvitation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Course_Run_Survey__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_for_Participant_Survey_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Participant_Survey_Subject</name>
        <label>Assignment for Participant Survey Subject</label>
        <locationX>656</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>sObjParticipantSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vParticipantSurveyInvitation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjParticipantSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjParticipantSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Course_Run_Survey__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjParticipantSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Subject</targetReference>
        </connector>
    </assignments>
    <description>MVP1.0 Course Registration Survey</description>
    <interviewLabel>Course Registration_Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Registration_Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Anonymous_Survey_Invitation</name>
        <label>Create Anonymous Survey Invitation</label>
        <locationX>655</locationX>
        <locationY>326</locationY>
        <assignRecordIdToReference>vAnonymousSurveyInvitation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Participants_Survey_Invitation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Run__c</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Course_Run_Survey__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant_Survey_Subject</name>
        <label>Create Participant Survey Subject</label>
        <locationX>656</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation_Link_Anonymous</targetReference>
        </connector>
        <inputReference>sObjParticipantSurveySubject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Participants_Survey_Invitation</name>
        <label>Create Participants Survey Invitation</label>
        <locationX>656</locationX>
        <locationY>446</locationY>
        <assignRecordIdToReference>vParticipantSurveyInvitation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_for_Anonymous_Survey_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Run__c</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>vCourseRegistration.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>vCourseRegistration.Course_Run_Id__r.Course_Run_Survey__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Subject</name>
        <label>Create Anonymous Survey Subject</label>
        <locationX>656</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Create_Participant_Survey_Subject</targetReference>
        </connector>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Community</name>
        <label>Get Community</label>
        <locationX>656</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Anonymous_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIMDigital Survey Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_Link_Anonymous</name>
        <label>Get Survey Invitation Link (Anonymous)</label>
        <locationX>656</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Invitation_Link_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnonymousSurveyInvitation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvitationLink</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_Link_Participant</name>
        <label>Get Survey Invitation Link (Participant)</label>
        <locationX>656</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Values_To_listCourseRegistrationSurveyURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParticipantSurveyInvitation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvitationLink</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Community</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable will store CourseRegistration Id and the Survey URL to be sorten.</description>
        <name>listCourseRegistrationSurveyURLFlow</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjParticipantSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>vAnonymousSurveyInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
    <variables>
        <name>vCourseRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course_Registration__c</objectType>
    </variables>
    <variables>
        <name>vParticipantSurveyInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
</Flow>
