force-app/main/default/flows/CourseRegistrationConfirmedAndPaid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Provider</name>
        <label>Provider</label>
        <locationX>168</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIM_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Run_Id__r.Course__r.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_Run_Id__r.Course__r.Mode_Of_Study__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Master_Course_Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_Run_Id__r.Provider_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Course_Run_Id__r.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Self_Paced_Dates</targetReference>
            </connector>
            <label>SIM Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Self_Paced_Dates</name>
        <label>Update Self Paced Dates</label>
        <locationX>391</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Update_Provider_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self_Paced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Run_Id__r.Course__r.Course_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-Paced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Provider_Status_0</targetReference>
            </connector>
            <label>Self Paced</label>
        </rules>
    </decisions>
    <description>Added Provider Dates for Self-Paced</description>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},{!$Record.Course_Run_Id__r.Course__r.Self_Paced_Access_Duration_Months__c})</expression>
    </formulas>
    <interviewLabel>CourseRegistrationConfirmedAndPaid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CourseRegistrationConfirmedAndPaid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>874</locationX>
        <locationY>306</locationY>
        <assignRecordIdToReference>AppLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Publish_Enroll_Canvas_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Enroll_SIM_Canvas__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Enroll_Canvas_Event</name>
        <label>Publish Enroll Canvas Event</label>
        <locationX>874</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>AppLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Enroll_SIM_Canvas__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Provider_Status</name>
        <label>Update Provider Status</label>
        <locationX>650</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Create_App_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Provider_Status_0</name>
        <label>Update Provider Status</label>
        <locationX>642</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Create_App_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Access_End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Access_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Provider</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>Course_Registration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
