force-app/main/default/flows/CourseRegUpdateCourseRunNoOfParticipant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CountParticipate</name>
        <label>CountParticipate</label>
        <locationX>264</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>CountNoOfParticipant1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetCourseRegistrationALLNotCancelledWithdrawnDefer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCourseReg</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CourseRegUpdateCourseRunNoOfParticipant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CourseRegUpdateCourseRunNoOfParticipant5</label>
    <loops>
        <name>LoopCourseReg</name>
        <label>LoopCourseReg</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <collectionReference>GetCourseRegistrationALLNotCancelledWithdrawnDefer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountParticipate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCourseRunbyCourseRegId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCourseRegistrationALLNotCancelledWithdrawnDefer</name>
        <label>GetCourseRegistrationALLNotCancelledWithdrawnDefer</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCourseReg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Course_Run_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Run_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122w000000eCwBAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCourseRegistrationByrecordId</name>
        <label>GetCourseRegistrationByrecordId</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCourseRegistrationALLNotCancelledWithdrawnDefer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCourseRunbyCourseRegId</name>
        <label>getCourseRunbyCourseRegId</label>
        <locationX>176</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCourseRunNoOfParticipany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCourseRegistrationByrecordId.Course_Run_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCourseRunNoOfParticipany</name>
        <label>UpdateCourseRunNoOfParticipany</label>
        <locationX>176</locationX>
        <locationY>949</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCourseRunbyCourseRegId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Participant__c</field>
            <value>
                <elementReference>CountNoOfParticipant1</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseRegistrationByrecordId</targetReference>
        </connector>
        <object>Course_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountNoOfParticipant1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
