force-app/main/default/flows/course_evaluation_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_08e4f3da_8f8a_4936_b953_52fcffefc96e</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0c1c298f_4d02_4494_9912_be89356942a4</name>
        <choiceText>4 - Newsletter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Newsletter</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_13a5b021_2b48_473e_beb7_44800885c3ab</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_13b647b6_25f3_4f06_ab30_fe3f405e66c6</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1c60b757_23ee_47f7_b77c_49664b3afc85</name>
        <choiceText>3 - Fair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Fair</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1e4dfd76_18c6_4270_b9a0_f6f1e9475a05</name>
        <choiceText>1 - Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_22af1e8d_33fd_4575_901b_b40010951cfa</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2acdb3af_92c1_40d7_89b9_0b975cc68df9</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b2335ff_3a08_4b7c_8dfc_7dbd2d77ebc8</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2d218426_3534_42c0_b6f7_9e9d0d2978d5</name>
        <choiceText>6 - Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6 - Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f5d2424_81a7_4168_bbc0_4ef48e38ffd8</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30de94dc_39c3_47dc_a6c5_538c35f844b0</name>
        <choiceText>2 - No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_31099e7a_49cf_4412_b985_4172f35f775c</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3335a688_5a71_4607_bbd0_bd85033663fe</name>
        <choiceText>2 - No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e314f04_a137_4088_88d5_c7e6fb602a03</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4efb4c21_6913_449d_bea3_e88fca62eb79</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5099ff9c_0e13_4839_9a17_aab8348de34a</name>
        <choiceText>3 - Magazine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Magazine</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_52501bc6_17e7_452b_b88e_906533a91688</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57c18ae4_debb_47e0_bc16_428f854f6163</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_59d40ec6_766f_4925_a3cb_5be80975dfc8</name>
        <choiceText>5 - Strong Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strong Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5e11edc6_7a25_4db9_828f_57a34fa36db4</name>
        <choiceText>2 -  No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 -  No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f3cda48_23ba_4f3d_8d53_742992ff62d7</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6885d182_eb77_421f_8687_b0929ee4fcda</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b77f90f_6b70_44a5_82b2_016013c88852</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6bee1cff_6c34_4923_9e6f_47a1c7c9d2f8</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6d7ec2b9_3230_48f8_bf9d_fb123f9b4869</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7a39519b_70a2_4acc_a583_63e2156a9c9b</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7bc68d7a_9592_488b_8e6e_d3db0a7b202c</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7cd1096e_e510_482a_ae96_3706245d9e3e</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8070b844_75a5_4b9c_9d54_b42a5684c840</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_84168b16_3e6e_4fce_9a0e_17f55195eb89</name>
        <choiceText>5 - Executive Programmes Directory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Executive Programmes Directory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8caebd06_6130_4109_b117_976dffff3813</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_93994d85_f478_4a36_b5cf_55bfeb2886d6</name>
        <choiceText>2 - Newspaper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Newspaper</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_975f6ac2_91d7_4a9f_9af3_d62ad4d159e0</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_99cf3d99_3224_4bde_89f0_4e51809b46b1</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e773f50_5a20_4008_bc9d_90e2779ee638</name>
        <choiceText>1 - Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3585ec3_2003_4ff8_a6df_eb22ec8a028f</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a36b094b_3aa2_491f_b3a8_ac1bffb13ae9</name>
        <choiceText>8 - Online Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8 - Online Search</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6711226_832f_495e_9d10_96874ef86fae</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab1b08d5_a91d_4133_9fa2_80cb328bde8d</name>
        <choiceText>9 - Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9 - Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_acfe2a17_9a1e_4a18_9e25_dab57e33b7ad</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b1fc16b2_981e_41e7_8c38_6b7bdd45880f</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b7c3565a_b6ef_4a78_98fb_6f4fb4337bc6</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbc2d5ab_b686_4039_8336_ca5a7eab7e15</name>
        <choiceText>1 - Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc187b53_519d_439e_bf49_e9c97fd78def</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c7d9c0cf_0205_4849_965b_25392fbf4ace</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_daa2933d_9dd7_4d5f_b79b_01388f87cb3e</name>
        <choiceText>7 - Facebook</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7 - Facebook</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dbd8d227_d98f_42f4_9bd3_21be52f7764f</name>
        <choiceText>1 - HR department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - HR department</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dcb83ab4_ba90_4766_ae5f_83c4519a4425</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e1d0a2a8_d124_4a9e_ad4c_efc5844a7441</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e71ecb62_53a2_4539_a86d_34f908332bc8</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_edd92d61_4565_4ce3_aeb0_e0d06ef28eb5</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f5c05f30_dd80_4abe_982c_e8814b4044f8</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fd28295c_f771_4e47_9fcb_675fccd31978</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fedd46c6_595e_4d78_8e10_a513b2ebea54</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_1f2804e6_208d_43f5_a55b_08d61406c429</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_22437ed5_7179_4aa2_aa0d_1f2c8aeff1d9</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_27bc666c_7a8e_466e_8abc_ad40572ad883</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2cd14d7d_068b_40cf_bc8c_16ab2b0ae97b</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_33df7b33_7a11_49cf_8d9c_37ea6280caca</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_3e874dd7_072b_473e_bd97_cf9f91449331</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_5576d8a8_5579_4851_b08f_957338f2d88b</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_6032d699_9154_41d3_bd4f_ca223df6f1a6</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_648beeec_32a9_4c95_b5de_49bcedabadae</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_6d3a3609_920d_4f79_a71a_bfbaba2b70d2</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_7573f569_0a80_4305_b782_1d53b699630b</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_815dbc19_4531_4c1a_ba74_d415084588b6</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_883d9481_8e84_48a5_9681_9fe5c3221293</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_9497b2d1_303e_476b_8702_d8a441ab5e4c</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_9fd2a3fe_4cad_4c36_928e_812a1b019993</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_a5caecf5_b3f7_4090_a15c_f95fbfa1b1ec</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_aa547a83_1a6b_4537_b6e3_b6a8f3e55a09</name>
        <choiceText>2 - Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c656fc1b_ff97_4bce_a87b_f6c1066c02a3</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_d9b04d78_bd18_486a_8c26_4b814aae4080</name>
        <choiceText>1 - Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_df235439_b70d_43fa_8bf4_63a43e91306f</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f0e62ada_453f_409c_96e5_313439c6d83a</name>
        <choiceText>5 - Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 - Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f42d6c66_5a34_41d4_a1e7_ad584fb7fbac</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_fd99965a_f370_4185_b7dd_03907a184ca6</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ff019559_6a6f_45ce_a4e7_2b7e5bc3c975</name>
        <choiceText>3 - Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ff64b749_4d36_47b0_b3a9_b24a14dc9b2e</name>
        <choiceText>4 - Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Disagree</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_113d9014_f23e_4d5c_9dd4_63e503227444</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_dd1d2904_c111_44a2_9092_b0c87fbf177b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_2a2bcafb_27b7_4364_8d09_0baf6b898228</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_fc521c34_e34d_4851_877b_481003b47940</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9e773f50_5a20_4008_bc9d_90e2779ee638</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_dd1d2904_c111_44a2_9092_b0c87fbf177b</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_a0e39d19_9689_4265_adac_4accce1854ff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_fc521c34_e34d_4851_877b_481003b47940</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_30de94dc_39c3_47dc_a6c5_538c35f844b0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_1134ef64_d684_4b5b_847d_db6da84a44d2</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_5ff3390f_cc9d_40d8_9285_599f16dcfa95</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_1ca058e0_9d95_4a3b_8508_14b028197ca2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_27d2db67_50ce_4a5e_b86b_f20ed8a5fc56</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_30c6f3d7_509e_4c3d_82a7_6f848125b51a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_1e4dfd76_18c6_4270_b9a0_f6f1e9475a05</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_1ca058e0_9d95_4a3b_8508_14b028197ca2</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_56e6496a_418b_4791_af3a_ca0530ecc0ba</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_30c6f3d7_509e_4c3d_82a7_6f848125b51a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_3335a688_5a71_4607_bbd0_bd85033663fe</elementReference>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Course Evaluation Survey</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Course Evaluation Survey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1134ef64_d684_4b5b_847d_db6da84a44d2</name>
        <label>General 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_5ff3390f_cc9d_40d8_9285_599f16dcfa95</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30c6f3d7_509e_4c3d_82a7_6f848125b51a</name>
            <choiceReferences>c_1e4dfd76_18c6_4270_b9a0_f6f1e9475a05</choiceReferences>
            <choiceReferences>c_3335a688_5a71_4607_bbd0_bd85033663fe</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Would you like this programme to be customised for your company (if applicable)? If yes, who should we contact?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_188e71cc_adf1_481f_ae73_12704964e596</name>
        <label>PROGRAMME MANAGEMENT ﻿</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a8e4288d_7544_4d8e_ba64_301ed20970f9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3ec754df_6991_4397_afc2_6f9d123cb441</name>
            <choiceReferences>S_d9b04d78_bd18_486a_8c26_4b814aae4080</choiceReferences>
            <choiceReferences>S_22437ed5_7179_4aa2_aa0d_1f2c8aeff1d9</choiceReferences>
            <choiceReferences>S_df235439_b70d_43fa_8bf4_63a43e91306f</choiceReferences>
            <choiceReferences>S_fd99965a_f370_4185_b7dd_03907a184ca6</choiceReferences>
            <choiceReferences>S_6032d699_9154_41d3_bd4f_ca223df6f1a6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Well prepared and organised for the programme.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5a24a5b2_ed47_4e11_a06c_60f89ae7b02f</name>
            <choiceReferences>S_883d9481_8e84_48a5_9681_9fe5c3221293</choiceReferences>
            <choiceReferences>S_5576d8a8_5579_4851_b08f_957338f2d88b</choiceReferences>
            <choiceReferences>S_7573f569_0a80_4305_b782_1d53b699630b</choiceReferences>
            <choiceReferences>S_ff64b749_4d36_47b0_b3a9_b24a14dc9b2e</choiceReferences>
            <choiceReferences>S_33df7b33_7a11_49cf_8d9c_37ea6280caca</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Demonstrated competence in the subject matter.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0060b860_af22_4fa2_9cbe_b1bf764df8b2</name>
            <choiceReferences>S_9497b2d1_303e_476b_8702_d8a441ab5e4c</choiceReferences>
            <choiceReferences>S_27bc666c_7a8e_466e_8abc_ad40572ad883</choiceReferences>
            <choiceReferences>S_ff019559_6a6f_45ce_a4e7_2b7e5bc3c975</choiceReferences>
            <choiceReferences>S_f42d6c66_5a34_41d4_a1e7_ad584fb7fbac</choiceReferences>
            <choiceReferences>S_815dbc19_4531_4c1a_ba74_d415084588b6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Able to communicate issues and concepts clearly.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_45aba646_e68e_4304_9c47_5bab490d4732</name>
            <choiceReferences>S_6d3a3609_920d_4f79_a71a_bfbaba2b70d2</choiceReferences>
            <choiceReferences>S_9fd2a3fe_4cad_4c36_928e_812a1b019993</choiceReferences>
            <choiceReferences>S_c656fc1b_ff97_4bce_a87b_f6c1066c02a3</choiceReferences>
            <choiceReferences>S_2cd14d7d_068b_40cf_bc8c_16ab2b0ae97b</choiceReferences>
            <choiceReferences>S_3e874dd7_072b_473e_bd97_cf9f91449331</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Demonstrated an understanding of issues using practical illustration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_98a0ff8a_a317_4848_a4f9_c3d73c9624eb</name>
            <choiceReferences>S_648beeec_32a9_4c95_b5de_49bcedabadae</choiceReferences>
            <choiceReferences>S_aa547a83_1a6b_4537_b6e3_b6a8f3e55a09</choiceReferences>
            <choiceReferences>S_1f2804e6_208d_43f5_a55b_08d61406c429</choiceReferences>
            <choiceReferences>S_a5caecf5_b3f7_4090_a15c_f95fbfa1b1ec</choiceReferences>
            <choiceReferences>S_f0e62ada_453f_409c_96e5_313439c6d83a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Able to maintain interest and encourage participation.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_193c759c_9d2b_4f2c_af50_1f2753fadade</name>
        <label>General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_113d9014_f23e_4d5c_9dd4_63e503227444</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6648707c_b2fc_41a0_a4ac_2aeeb939aaa3</name>
            <choiceReferences>c_13a5b021_2b48_473e_beb7_44800885c3ab</choiceReferences>
            <choiceReferences>c_e71ecb62_53a2_4539_a86d_34f908332bc8</choiceReferences>
            <choiceReferences>c_1c60b757_23ee_47f7_b77c_49664b3afc85</choiceReferences>
            <choiceReferences>c_6d7ec2b9_3230_48f8_bf9d_fb123f9b4869</choiceReferences>
            <choiceReferences>c_59d40ec6_766f_4925_a3cb_5be80975dfc8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall, I am satisfied with the programme&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bb70e332_b309_4b09_8ebb_d2c1b453fe68</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Like Best:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6ac3b6b9_7112_4b40_b341_670bfb82b53f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Area of improvement:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f98cc3c6_a068_499d_8df7_34ad800799c9</name>
            <choiceReferences>c_bbc2d5ab_b686_4039_8336_ca5a7eab7e15</choiceReferences>
            <choiceReferences>c_5e11edc6_7a25_4db9_828f_57a34fa36db4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you recommend this programme to your colleagues or friends?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b96d144c_2fee_40e4_80ad_f54778aa3757</name>
            <choiceReferences>c_dbd8d227_d98f_42f4_9bd3_21be52f7764f</choiceReferences>
            <choiceReferences>c_93994d85_f478_4a36_b5cf_55bfeb2886d6</choiceReferences>
            <choiceReferences>c_5099ff9c_0e13_4839_9a17_aab8348de34a</choiceReferences>
            <choiceReferences>c_0c1c298f_4d02_4494_9912_be89356942a4</choiceReferences>
            <choiceReferences>c_84168b16_3e6e_4fce_9a0e_17f55195eb89</choiceReferences>
            <choiceReferences>c_2d218426_3534_42c0_b6f7_9e9d0d2978d5</choiceReferences>
            <choiceReferences>c_daa2933d_9dd7_4d5f_b79b_01388f87cb3e</choiceReferences>
            <choiceReferences>c_a36b094b_3aa2_491f_b3a8_ac1bffb13ae9</choiceReferences>
            <choiceReferences>c_ab1b08d5_a91d_4133_9fa2_80cb328bde8d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How did you get to know about this programme?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fc521c34_e34d_4851_877b_481003b47940</name>
            <choiceReferences>c_9e773f50_5a20_4008_bc9d_90e2779ee638</choiceReferences>
            <choiceReferences>c_30de94dc_39c3_47dc_a6c5_538c35f844b0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Would you like to be included in our mailing list fo upcoming events/programmes? If yes, please provide your email address:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_1ca058e0_9d95_4a3b_8508_14b028197ca2</name>
        <label>E8 Branch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fb5eadb9_4317_49e1_b921_efe4424daf3d</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E8: Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_72023a10_febb_431b_85d5_39961a7ac326</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E8: Email Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f341dd5c_3b95_4808_a341_a01d43740b94</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E8: Company Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c0dd1a31_6d7b_41d7_9af6_f97d5a505ba6</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E8: Contact Number&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_92d0aa66_ffdc_43ad_af0d_273b55a471ab</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E8: Designation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d0ca8eb8_b4a0_4d0d_9d44_1836e30706cc</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;E8: Training areas / Topics of interest :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4dd15820_31f7_44f4_b2f2_5952a4a16156</name>
        <label>SUBJECT AND CONTENT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_188e71cc_adf1_481f_ae73_12704964e596</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9b48051f_9a43_4961_a8c6_3962df4f4fcd</name>
            <choiceReferences>c_22af1e8d_33fd_4575_901b_b40010951cfa</choiceReferences>
            <choiceReferences>c_4efb4c21_6913_449d_bea3_e88fca62eb79</choiceReferences>
            <choiceReferences>c_7bc68d7a_9592_488b_8e6e_d3db0a7b202c</choiceReferences>
            <choiceReferences>c_e1d0a2a8_d124_4a9e_ad4c_efc5844a7441</choiceReferences>
            <choiceReferences>c_2f5d2424_81a7_4168_bbc0_4ef48e38ffd8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The programme met its objectives.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f6f2e721_a465_4e7e_993c_8eb3c1d37a80</name>
            <choiceReferences>c_13b647b6_25f3_4f06_ab30_fe3f405e66c6</choiceReferences>
            <choiceReferences>c_c7d9c0cf_0205_4849_965b_25392fbf4ace</choiceReferences>
            <choiceReferences>c_edd92d61_4565_4ce3_aeb0_e0d06ef28eb5</choiceReferences>
            <choiceReferences>c_57c18ae4_debb_47e0_bc16_428f854f6163</choiceReferences>
            <choiceReferences>c_6885d182_eb77_421f_8687_b0929ee4fcda</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The concepts/skills presented will be helpful to me in my job.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2afb3727_c3c9_40a0_b3fd_a75bd7f2876a</name>
            <choiceReferences>c_2b2335ff_3a08_4b7c_8dfc_7dbd2d77ebc8</choiceReferences>
            <choiceReferences>c_5f3cda48_23ba_4f3d_8d53_742992ff62d7</choiceReferences>
            <choiceReferences>c_975f6ac2_91d7_4a9f_9af3_d62ad4d159e0</choiceReferences>
            <choiceReferences>c_fedd46c6_595e_4d78_8e10_a513b2ebea54</choiceReferences>
            <choiceReferences>c_4e314f04_a137_4088_88d5_c7e6fb602a03</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There was appropriate use of case discussions, examples, group work, etc., to aid the understanding of the subject.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_15505def_e3de_4187_b164_c691e147d80a</name>
            <choiceReferences>c_6b77f90f_6b70_44a5_82b2_016013c88852</choiceReferences>
            <choiceReferences>c_acfe2a17_9a1e_4a18_9e25_dab57e33b7ad</choiceReferences>
            <choiceReferences>c_a6711226_832f_495e_9d10_96874ef86fae</choiceReferences>
            <choiceReferences>c_08e4f3da_8f8a_4936_b953_52fcffefc96e</choiceReferences>
            <choiceReferences>c_7cd1096e_e510_482a_ae96_3706245d9e3e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The handouts and/or materials were designed and organised to aid understanding.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a8e4288d_7544_4d8e_ba64_301ed20970f9</name>
        <label>PROGRAMME MANAGEMENT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_193c759c_9d2b_4f2c_af50_1f2753fadade</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_78bc45e4_fcd3_4aac_a3dd_dda94004f921</name>
            <choiceReferences>c_6bee1cff_6c34_4923_9e6f_47a1c7c9d2f8</choiceReferences>
            <choiceReferences>c_52501bc6_17e7_452b_b88e_906533a91688</choiceReferences>
            <choiceReferences>c_fd28295c_f771_4e47_9fcb_675fccd31978</choiceReferences>
            <choiceReferences>c_a3585ec3_2003_4ff8_a6df_eb22ec8a028f</choiceReferences>
            <choiceReferences>c_8070b844_75a5_4b9c_9d54_b42a5684c840</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Information given to participants was clear and helpful.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b8ea68ca_aaa9_473f_a3c7_38f7a3edc825</name>
            <choiceReferences>c_2acdb3af_92c1_40d7_89b9_0b975cc68df9</choiceReferences>
            <choiceReferences>c_31099e7a_49cf_4412_b985_4172f35f775c</choiceReferences>
            <choiceReferences>c_8caebd06_6130_4109_b117_976dffff3813</choiceReferences>
            <choiceReferences>c_99cf3d99_3224_4bde_89f0_4e51809b46b1</choiceReferences>
            <choiceReferences>c_7a39519b_70a2_4acc_a583_63e2156a9c9b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Room setup was ready and the equipment was in working order.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bf51222c_7a2e_45bb_94cf_e141cf754c64</name>
            <choiceReferences>c_b7c3565a_b6ef_4a78_98fb_6f4fb4337bc6</choiceReferences>
            <choiceReferences>c_b1fc16b2_981e_41e7_8c38_6b7bdd45880f</choiceReferences>
            <choiceReferences>c_f5c05f30_dd80_4abe_982c_e8814b4044f8</choiceReferences>
            <choiceReferences>c_dcb83ab4_ba90_4766_ae5f_83c4519a4425</choiceReferences>
            <choiceReferences>c_bc187b53_519d_439e_bf49_e9c97fd78def</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The staff was helpful and service was provided promptly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_dd1d2904_c111_44a2_9092_b0c87fbf177b</name>
        <label>E7 Branch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1134ef64_d684_4b5b_847d_db6da84a44d2</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1ae0e436_e3e8_42e3_800e_f708f3374c51</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E7: Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e1f9c3b2_7386_496b_b1e5_ded4a65db47c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E7: Company Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5bc620b8_2ff6_4834_a2c8_92abc3ae52fe</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E7: Contact Number&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_80b10355_bb51_4672_9873_315eaf40339f</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E7: Email Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d1376778_652b_4f78_abbc_0f54dda041ea</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;E7: Referrer&apos;s Name&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e71fca91_544a_4ead_af8f_29ffd80fba04</name>
        <label>Submitter Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_4dd15820_31f7_44f4_b2f2_5952a4a16156</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0fff6483_2ab1_4a99_9fb5_55546627fad1</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;Please provide your name ELSE you can also choose to Submit as Anonymous by leaving this blank&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_e71fca91_544a_4ead_af8f_29ffd80fba04</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;img src=&quot;https://simdigital--simstream1.lightning.force.com/file-asset-public/logoSIMGroup?oid=00D1s0000000MwG&amp;amp;v=1&quot; alt=&quot;logo-SIMGroup&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://simdigital--simstream1.lightning.force.com/file-asset-public/logoSIMGroup1?oid=00D1s0000000MwG&amp;amp;v=1&quot; alt=&quot;logo-SIMGroup&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Hello!&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Input from you is essential for improving our courses.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;In addition to providing useful information for improving courses, course evaluations provide an opportunity for you to reflect and provide feedback on your own learning!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
