force-app/main/default/flows/Course_Run_Anon_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Shorten_URL_For_Anon_Survey_Controller</name>
        <label>Call Shorten URL For Anon Survey Controller</label>
        <locationX>676</locationX>
        <locationY>1753</locationY>
        <actionName>ShortenURLInvocableForAnonSurvey</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success_Message</targetReference>
        </connector>
        <inputParameters>
            <name>listCourseRunSurveyURL</name>
            <value>
                <elementReference>listCourseRegistrationSurveyURLFlow</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Values_To_listCourseRegistrationSurveyURL</name>
        <label>Add Values To listCourseRegistrationSurveyURL</label>
        <locationX>679</locationX>
        <locationY>1588</locationY>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Survey_Invitation_Link_Anonymous.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCourseRegistrationSurveyURLFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCourseRun.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Shorten_URL_For_Anon_Survey_Controller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Anonymous_Survey_Subject</name>
        <label>Assignment for Anonymous Survey Subject</label>
        <locationX>671</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAnonymousSurveyInvitation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRun.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRun.Course_Run_Survey__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCourseRun.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Survey_to_Course_Run</name>
        <label>Assignment of Survey to Course Run</label>
        <locationX>660</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>vCourseRun.Course_Run_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSurveyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCourseRun.Course_Survey_Anonymous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Run_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_RadioButton</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_RadioButton</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Confirm_To_Recreate</name>
        <label>Confirm To Recreate</label>
        <locationX>1065</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>End_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_To_Recreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection_To_Recreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_RadioButton</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Survey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Link_Exists</name>
        <label>Survey Link Exists</label>
        <locationX>860</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Select_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_To_Link_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCourseRun.Course_Run_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_to_Recreate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Survey_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>vSurveyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Course Run_Anon Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Run_Anon Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Anonymous_Survey_Invitation</name>
        <label>Create Anonymous Survey Invitation</label>
        <locationX>663</locationX>
        <locationY>921</locationY>
        <assignRecordIdToReference>vAnonymousSurveyInvitation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_for_Anonymous_Survey_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Run__c</field>
            <value>
                <elementReference>vCourseRun.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vCourseRun.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>vCourseRun.Course_Run_Survey__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Subject</name>
        <label>Create Anonymous Survey Subject</label>
        <locationX>672</locationX>
        <locationY>1253</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation_Link_Anonymous</targetReference>
        </connector>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Community</name>
        <label>Get Community</label>
        <locationX>656</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course_Run_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIMDigital Survey Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Run_Record</name>
        <label>Get Course Run Record</label>
        <locationX>657</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Link_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Course_Run__c</object>
        <outputReference>vCourseRun</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Course_Run_Survey__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_Link_Anonymous</name>
        <label>Get Survey Invitation Link (Anonymous)</label>
        <locationX>673</locationX>
        <locationY>1424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Values_To_listCourseRegistrationSurveyURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnonymousSurveyInvitation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvitationLink</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Run_Record</name>
        <label>Update Course Run Record</label>
        <locationX>662</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Create_Anonymous_Survey_Invitation</targetReference>
        </connector>
        <inputReference>vCourseRun</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_to_Recreate</name>
        <label>Confirmation to Recreate</label>
        <locationX>1074</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_To_Recreate</targetReference>
        </connector>
        <fields>
            <name>Confirm_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is already an existing Anonymous Survey for this Course Run. Do you want to re-create?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_To_Recreate</name>
            <choiceReferences>Yes_RadioButton</choiceReferences>
            <choiceReferences>No_RadioButton</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose one option.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Message</name>
        <label>End Message</label>
        <locationX>1293</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Message_Text</name>
            <fieldText>&lt;p&gt;You can find the previously created Anonymous Survey at the Survey Information section.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Survey</name>
        <label>Select Survey</label>
        <locationX>659</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Survey_to_Course_Run</targetReference>
        </connector>
        <fields>
            <name>Survey</name>
            <choiceReferences>Survey_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success_Message</name>
        <label>Show Success Message</label>
        <locationX>678</locationX>
        <locationY>1917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The Anonymous Survey is currently being generated at the background. Please refresh the Course Run record to view the survey information in a few minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Community</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable will store CourseRegistration Id and the Survey URL to be sorten.</description>
        <name>listCourseRegistrationSurveyURLFlow</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The record ID of the Course Run record from which the flow started</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>vAnonymousSurveyInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
    <variables>
        <name>vCourseRun</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Run__c</objectType>
    </variables>
    <variables>
        <name>vSurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
