force-app/main/default/flows/Create_B2B_User_Course_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_ContactId_from_Existing</name>
        <label>Set ContactId from Existing</label>
        <locationX>372</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Registration_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contact_Exists</name>
        <label>Check if Contact Exists</label>
        <locationX>537</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Contact Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_with_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContactId_from_Existing</targetReference>
            </connector>
            <label>Contact with Registration</label>
        </rules>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Course_Registration_Existing_Contact</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
        <rules>
            <name>With_UEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company_UEN_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_B2B_RecordType</targetReference>
            </connector>
            <label>With UEN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_UEN_No_Exists</name>
        <label>Check if Account with UEN No. Exists</label>
        <locationX>762</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UEN_No_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_B2B_Learner_Record_Type_0</targetReference>
            </connector>
            <label>Account with UEN No. Exists</label>
        </rules>
        <rules>
            <name>Account_with_UEN_No_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corporate_Account</targetReference>
            </connector>
            <label>Account with UEN No. Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPersonAccount</name>
        <label>IsPersonAccount</label>
        <locationX>229</locationX>
        <locationY>1431</locationY>
        <defaultConnector>
            <targetReference>Update_B2B_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>MVP1.0 This flow checks and create B2B User on Bulk Upload

This also updates the contact information</description>
    <interviewLabel>Create B2B User_Course Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create B2B User_Course Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_B2B_Learner_Existing_Corporate_Account</name>
        <label>Create B2B Contact (Existing Corporate Account)</label>
        <locationX>874</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Update_Course_Registration_Existing_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2B_Learner_Record_Type_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_B2B_Learner_New_Corporate_Account_Account</name>
        <label>Create B2B Contact (New Corporate Account)</label>
        <locationX>1132</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>Update_Course_Registration_New_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Corporate_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2B_L_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Corporate_Account</name>
        <label>Create B2B Corporate Account</label>
        <locationX>1133</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Get_B2B_L_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_B2B_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UEN_No__c</field>
            <value>
                <elementReference>$Record.Company_UEN_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Rec_to_check_UEN_No_Id</name>
        <label>Get Account Rec to check UEN No.</label>
        <locationX>1132</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_UEN_No_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UEN_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_UEN_No__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_B2B_RecordType.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_L_Record_Type</name>
        <label>Get B2B L Record Type</label>
        <locationX>1307</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_B2B_Learner_New_Corporate_Account_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Learner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_Learner_Record_Type_0</name>
        <label>Get B2B Learner Record Type</label>
        <locationX>874</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_B2B_Learner_Existing_Corporate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Learner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_B2B_RecordType</name>
        <label>Get B2B RecordType</label>
        <locationX>768</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Rec_to_check_UEN_No_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>545</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Encrypted NRIC Field</description>
        <name>GetCourseRegistration</name>
        <label>GetCourseRegistration</label>
        <locationX>236</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Course_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Course_Registration__c</object>
        <outputAssignments>
            <assignToReference>NRICValue</assignToReference>
            <field>NRIC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_B2B_Account</name>
        <label>Update B2B Account</label>
        <locationX>378</locationX>
        <locationY>1551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Contact_Person__c</field>
            <value>
                <elementReference>$Record.Attention__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Course_Registration</name>
        <label>Update Contact (Course Registration)</label>
        <locationX>236</locationX>
        <locationY>1254</locationY>
        <connector>
            <targetReference>IsPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternative_Attention__c</field>
            <value>
                <elementReference>$Record.Alternative_Attention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Billing_Address1__c</field>
            <value>
                <elementReference>$Record.Alternative_Billing_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Billing_Address2__c</field>
            <value>
                <elementReference>$Record.Alternative_Billing_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Billing_Address3__c</field>
            <value>
                <elementReference>$Record.Alternative_Billing_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_City__c</field>
            <value>
                <elementReference>$Record.Alternative_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Country__c</field>
            <value>
                <elementReference>$Record.Alternative_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Email__c</field>
            <value>
                <elementReference>$Record.Alternative_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_Phone__c</field>
            <value>
                <elementReference>$Record.Alternative_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_PostalCode__c</field>
            <value>
                <elementReference>$Record.Alternative_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alternative_State__c</field>
            <value>
                <elementReference>$Record.Alternative_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attention__c</field>
            <value>
                <elementReference>$Record.Attention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_1__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_2__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_3__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Billing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>$Record.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>$Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation_Level__c</field>
            <value>
                <elementReference>$Record.Designation_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Level__c</field>
            <value>
                <elementReference>$Record.Education_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>$Record.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Mobile_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Basic_Salary__c</field>
            <value>
                <elementReference>$Record.Monthly_Basic_Salary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRIC_Type__c</field>
            <value>
                <elementReference>$Record.NRIC_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRIC__c</field>
            <value>
                <elementReference>NRICValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>$Record.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_No__c</field>
            <value>
                <elementReference>$Record.Office_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_O_Number__c</field>
            <value>
                <elementReference>$Record.P_O_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persons_with_Disabilities__c</field>
            <value>
                <elementReference>$Record.Persons_with_Disabilities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Home_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Certificate_Name__c</field>
            <value>
                <elementReference>$Record.Preferred_Certificate_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Email_Address__c</field>
            <value>
                <elementReference>$Record.Primary_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMIT_Alumni__c</field>
            <value>
                <elementReference>$Record.RMIT_Alumni__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>$Record.Race__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residency_Status__c</field>
            <value>
                <elementReference>$Record.Residency_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Secondary_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email_Address__c</field>
            <value>
                <elementReference>$Record.Secondary_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Mobile_Number__c</field>
            <value>
                <elementReference>$Record.Secondary_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Salutation__c</field>
            <value>
                <elementReference>$Record.Secondary_Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Registration_Existing_Account</name>
        <label>Update Course Registration (Existing Account)</label>
        <locationX>874</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>GetCourseRegistration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_B2B_Learner_Existing_Corporate_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Registration_Existing_Contact</name>
        <label>Update Course Registration (Existing Contact)</label>
        <locationX>238</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>GetCourseRegistration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Registration_New_Account</name>
        <label>Update Course Registration (New Account)</label>
        <locationX>1132</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>GetCourseRegistration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_B2B_Learner_New_Corporate_Account_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>95</locationX>
        <locationY>1555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Type__c</field>
            <value>
                <elementReference>$Record.Address_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_1__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_2__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Line_3__c</field>
            <value>
                <elementReference>$Record.Billing_Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Person__c</field>
            <value>
                <elementReference>$Record.Attention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Billing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>$Record.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>$Record.Preferred_Contact_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>420</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Email_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Course_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NRICValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.NRIC__c</elementReference>
        </value>
    </variables>
</Flow>
