force-app/main/default/flows/GenerateAttendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Attendance_PropertiesAM</name>
        <label>Assign Attendance PropertiesAM</label>
        <locationX>535</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Attendance_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AM Session</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Course_Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Course_Attendee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Registration.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dummy_to_attendance_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attendance_PropertiesPM</name>
        <label>Assign Attendance PropertiesPM</label>
        <locationX>769</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Attendance_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM Session</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Course_Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Registration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceIndividualRecord.Course_Attendee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Registration.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dummy_to_attendance_collectionPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_dummy_to_attendance_collection</name>
        <label>assign dummy to attendance collection</label>
        <locationX>760</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AttendancesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttendanceIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Attendance_PropertiesPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_dummy_to_attendance_collectionPM</name>
        <label>assign dummy to attendance collectionPM</label>
        <locationX>584</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>AttendancesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttendanceIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndDateGreaterStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStartDate</name>
        <label>AssignStartDate</label>
        <locationX>140</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>thisDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Registration.Course_Run_Id__r.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndDateGreaterStartDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EndDateGreaterStartDate</name>
        <label>EndDateGreaterStartDate</label>
        <locationX>343</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndStartGreaterThanStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_Registration.Course_Run_Id__r.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attendance_PropertiesAM</targetReference>
            </connector>
            <label>EndStartGreaterThanStartDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetCourseAttendenceNotNull</name>
        <label>GetCourseAttendenceNotNull</label>
        <locationX>240</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>AssignStartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetCourseAttendenceNotNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseAttendenceWCourseRegID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingCourseRegAttendence</targetReference>
            </connector>
            <label>GetCourseAttendenceNotNull</label>
        </rules>
    </decisions>
    <description>Amended by Desmond 2101281430</description>
    <interviewLabel>GenerateAttendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateAttendance4</label>
    <loops>
        <name>Loop_on_Registration</name>
        <label>Loop on Registration</label>
        <locationX>430</locationX>
        <locationY>164</locationY>
        <collectionReference>Get_Registration_from_Course_Run</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCourseAttendenceWCourseRegID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attendances_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendances_from_Collection</name>
        <label>Create Attendances from Collection</label>
        <locationX>783</locationX>
        <locationY>100</locationY>
        <inputReference>AttendancesToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExistingCourseRegAttendence</name>
        <label>DeleteExistingCourseRegAttendence</label>
        <locationX>50</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>AssignStartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Registration.Id</elementReference>
            </value>
        </filters>
        <object>Course_Attendance__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Registration_from_Course_Run</name>
        <label>Get Registration from Course Run</label>
        <locationX>79</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Run_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122w000000eCwBAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCourseAttendenceWCourseRegID</name>
        <label>GetCourseAttendenceWCourseRegID</label>
        <locationX>235</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCourseAttendenceNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Registration.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCourseRun</name>
        <label>getCourseRun</label>
        <locationX>96</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Registration_from_Course_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>309</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>getCourseRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendanceIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Attendance__c</objectType>
    </variables>
    <variables>
        <name>AttendancesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Attendance__c</objectType>
    </variables>
    <variables>
        <name>CourseRun</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Run__c</objectType>
    </variables>
    <variables>
        <name>courseRunID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
