force-app/main/default/flows/Generate_Invoice_for_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Invoice</name>
        <label>Generate Invoice</label>
        <locationX>776</locationX>
        <locationY>1334</locationY>
        <actionName>InvoiceUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Invoice_Screen_1</targetReference>
        </connector>
        <inputParameters>
            <name>courseRegId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>invoiceId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>776</locationX>
        <locationY>1574</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>No_choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_existing_invoices</name>
        <label>Are there any existing invoices?</label>
        <locationX>776</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Generate_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoice_Question_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Course_Registration_is_Confirmed</name>
        <label>Course Registration is Confirmed</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Registration_Not_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CRegConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Invoices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed</name>
        <label>Proceed</label>
        <locationX>600</locationX>
        <locationY>902</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_still_want_to_generate_another_invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Changed to System Mode</description>
    <interviewLabel>Generate Invoice for Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Invoice for Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Other_Invoices</name>
        <label>Get Other Invoices</label>
        <locationX>776</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_existing_invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registration</name>
        <label>Get Registration</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Registration_is_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Generate_Invoice_Question_Screen</name>
        <label>Generate Invoice Question Screen</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <fields>
            <name>Existing_Invoice</name>
            <fieldText>&lt;p&gt;There seems to be an existing invoice(s) for this registration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_still_want_to_generate_another_invoice</name>
            <choiceReferences>Yes_choice</choiceReferences>
            <choiceReferences>No_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_choice</defaultSelectedChoiceReference>
            <fieldText>Do you still want to generate another invoice?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Generate_Invoice_Screen_1</name>
        <label>Generate Invoice Screen 1</label>
        <locationX>776</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <fields>
            <name>Invoice_Created_Label</name>
            <fieldText>&lt;p&gt;Invoice has been generated for this Registration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will be redirected to the Invoice by clicking on &quot;Next&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Not_Confirmed</name>
        <label>Registration Not Confirmed</label>
        <locationX>575</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Confirmed_Msg</name>
            <fieldText>&lt;p&gt;This Course Registration has not yet been &quot;Confirmed&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
