force-app/main/default/flows/GenerateInvoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Bill_Date</name>
        <label>Check Bill Date</label>
        <locationX>904</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Invoice_Bill_Date_cannot_be_a_past_future_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Today</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Bill_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Status</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Invoice_Status</name>
        <label>Current Invoice Status</label>
        <locationX>172</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Invoice_PDF_is_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generated</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Reference_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Bill_Date</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Generation - In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Reference_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_System_Admin</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Line_Items</name>
        <label>Has Line Items</label>
        <locationX>168</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>No_Line_Items_are_created_for_this_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Invoice_Line_Items__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Invoice_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_System_Admin</name>
        <label>Is System Admin</label>
        <locationX>489</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Invoice_generation_is_currently_in_progress_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_System_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Bill_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>(MVP 1.0) - This publishes the Generate_Invoice__e platform event and fired from a quick action</description>
    <interviewLabel>Generate Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an Application Log to track the event handling</description>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>1176</locationX>
        <locationY>515</locationY>
        <assignRecordIdToReference>applicationLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Generate_Invoice__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>1306</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Invoice_generation_is_currently_in_progress</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>applicationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Generate_Invoice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>177</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Status</name>
        <label>Update Invoice Status</label>
        <locationX>1060</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Create_Application_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Invoice Generation - In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>Invoice_Bill_Date_cannot_be_a_past_future_date</name>
        <label>Invoice Bill Date cannot be a past/future date.</label>
        <locationX>912</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidInvoiceBillDate</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Invoice_Invalid_Bill_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_generation_is_currently_in_progress</name>
        <label>Invoice Generation is currently in progress</label>
        <locationX>1438</locationX>
        <locationY>515</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Invoice_Success}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_generation_is_currently_in_progress_0</name>
        <label>Invoice Generation is currently in progress</label>
        <locationX>495</locationX>
        <locationY>852</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Currently_In_Progress</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Invoice_In_Progress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_PDF_is_Existing</name>
        <label>Invoice PDF is Existing</label>
        <locationX>173</locationX>
        <locationY>855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Currently_In_Progress_0</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Invoice_Existing}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Line_Items_are_created_for_this_Invoice</name>
        <label>No Line Items are created for this Invoice</label>
        <locationX>339</locationX>
        <locationY>359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Line_Items</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Invoice_No_Line_Items}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
