force-app/main/default/flows/InvoiceRecordFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_App_Logs</name>
        <label>Add to App Logs</label>
        <locationX>782</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>ApplicationLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Events</name>
        <label>Add to Events</label>
        <locationX>593</locationX>
        <locationY>1325</locationY>
        <assignmentItems>
            <assignToReference>EnrollEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EnrollEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_App_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_App_Log</name>
        <label>Set App Log</label>
        <locationX>780</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>ApplicationLog.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationLog.Platform_Event_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enroll_SIM_Canvas__e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationLog.RequestedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_App_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Events</name>
        <label>Set Events</label>
        <locationX>586</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>EnrollEvent.ApplicationLogId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_App_Logs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnrollEvent.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_App_Logs.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Paid_to_False</name>
        <label>Set Paid to False</label>
        <locationX>1057</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>AllInvoicesPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAroundAlltheRelatedInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Payment_Status</name>
        <label>Update Payment Status</label>
        <locationX>779</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Children.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Children.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Generate_Receipt_Event</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate_Receipt__e</stringValue>
        </value>
    </constants>
    <decisions>
        <name>All_Invoice_Paid</name>
        <label>All Invoice Paid</label>
        <locationX>1082</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllInvoicesPaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Registration_Based_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Paid</name>
        <label>Check if Paid</label>
        <locationX>874</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>Set_Paid_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAroundAlltheRelatedInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAroundAlltheRelatedInvoice</targetReference>
            </connector>
            <label>Yes_Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Provider_is_SIM_Online</name>
        <label>Check if Provider is SIM Online</label>
        <locationX>1136</locationX>
        <locationY>629</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SIM_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Registration__r.Course_Run_Id__r.Course__r.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Registrations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Registration_Based_Invoice</name>
        <label>Check if Registration Based Invoice</label>
        <locationX>1340</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Reg_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Registration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Course_Registration_Record</targetReference>
            </connector>
            <label>Is Reg Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Registration_Has_Been_Paid</name>
        <label>Check if Registration Has Been Paid</label>
        <locationX>168</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Get_All_Invoices_For_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet</defaultConnectorLabel>
        <rules>
            <name>Already_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_Registration__r.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <label>Already Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_Child_Registrations</name>
        <label>Check if there are Child Registrations</label>
        <locationX>770</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Children</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Registrations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Children</targetReference>
            </connector>
            <label>Has Children</label>
        </rules>
    </decisions>
    <interviewLabel>InvoiceRecordFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InvoiceRecordFlowTrigger</label>
    <loops>
        <name>Loop_through_App_Logs</name>
        <label>Loop through App Logs</label>
        <locationX>594</locationX>
        <locationY>1013</locationY>
        <collectionReference>ApplicationLogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Events</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Children</name>
        <label>Loop Through Children</label>
        <locationX>779</locationX>
        <locationY>851</locationY>
        <collectionReference>Get_Child_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_App_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_App_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAroundAlltheRelatedInvoice</name>
        <label>loopAroundAlltheRelatedInvoice</label>
        <locationX>711</locationX>
        <locationY>463</locationY>
        <collectionReference>listOfInvoiceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Invoice_Paid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_App_Logs</name>
        <label>Create App Logs</label>
        <locationX>594</locationX>
        <locationY>855</locationY>
        <connector>
            <targetReference>Loop_through_App_Logs</targetReference>
        </connector>
        <inputReference>ApplicationLogs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>459</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Update_Child_Reg</targetReference>
        </connector>
        <inputReference>EnrollEvents</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Invoices_For_Registration</name>
        <label>Get All Invoices For Registration</label>
        <locationX>436</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAroundAlltheRelatedInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>listOfInvoiceRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Registrations</name>
        <label>Get Child Registrations</label>
        <locationX>952</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_Child_Registrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Reg</name>
        <label>Update Child Reg</label>
        <locationX>459</locationX>
        <locationY>1332</locationY>
        <inputReference>Get_Child_Registrations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Registration_Record</name>
        <label>Update Course Registration Record</label>
        <locationX>1349</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Check_if_Provider_is_SIM_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Registration__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Registration_Has_Been_Paid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Course_Registration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllInvoicesPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>childRegIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enroll_SIM_AppLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrollEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enroll_SIM_Canvas__e</objectType>
    </variables>
    <variables>
        <name>EnrollEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enroll_SIM_Canvas__e</objectType>
    </variables>
    <variables>
        <name>IsInvoicePaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>listOfInvoiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>listOfPaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>SingleRelatedPaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
</Flow>
