force-app/main/default/flows/InvoiceReceiptFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Events</name>
        <label>Add to Events</label>
        <locationX>370</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReceiptEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_App_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Logs</name>
        <label>Add to Logs</label>
        <locationX>372</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>AppLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AppLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>372</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEvent.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_App_Logs.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEvent.ApplicationLogId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_App_Logs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAppLog</name>
        <label>CreateAppLog</label>
        <locationX>375</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>AppLog.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppLog.Platform_Event_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generate_Receipt__e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Logs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>InvoiceReceiptFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InvoiceReceiptFlowTrigger</label>
    <loops>
        <name>Loop_Through_App_Logs</name>
        <label>Loop Through App Logs</label>
        <locationX>172</locationX>
        <locationY>941</locationY>
        <collectionReference>AppLogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Receipt_Loop</name>
        <label>Receipt Loop</label>
        <locationX>175</locationX>
        <locationY>657</locationY>
        <collectionReference>Get_Receipts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateAppLog</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Event</name>
        <label>Insert Event</label>
        <locationX>174</locationX>
        <locationY>1112</locationY>
        <inputReference>ReceiptEvents</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Log</name>
        <label>Insert Log</label>
        <locationX>172</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Loop_Through_App_Logs</targetReference>
        </connector>
        <inputReference>AppLogs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Receipts</name>
        <label>Get Receipts</label>
        <locationX>176</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Flag_to_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Flag_to_No</name>
        <label>Set Flag to No</label>
        <locationX>176</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Receipt_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Generate_Receipt__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Receipts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Generate_Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reference_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>AppLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Log__c</objectType>
    </variables>
    <variables>
        <name>ReceiptEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generate_Receipt__e</objectType>
    </variables>
    <variables>
        <name>ReceiptEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Generate_Receipt__e</objectType>
    </variables>
</Flow>
