force-app/main/default/flows/InvoiceDiscountFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Default_Amount_to_Discount</name>
        <label>Default Amount to Discount</label>
        <locationX>59</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount__r.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount__r.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount__r.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_Amount_to_Discount_0</name>
        <label>Default Amount to Discount</label>
        <locationX>289</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GSTAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount__r.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Percentage</name>
        <label>Is Percentage</label>
        <locationX>168</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Default_Amount_to_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount__r.Percentage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Amount_to_Discount_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Percentage Handling</description>
    <formulas>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Invoice_Line_Item__r.Amount__c} * ({!$Record.Discount__r.Amount__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GSTAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Invoice_Line_Item__r.GST_Amount__c}*({!$Record.Discount__r.GST_Amount__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>InvoiceDiscountFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InvoiceDiscountFlowTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Percentage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Discount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice_Discount__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
