force-app/main/default/flows/Mass_Action_List_View_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>ExtractRemaining</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!IDs}, LEN({!IDs}) - FIND(&quot;,&quot;, {!IDs})))</expression>
    </formulas>
    <formulas>
        <name>get1stID</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!IDs}, FIND(&quot; &quot;, {!IDs})))</expression>
    </formulas>
    <interviewLabel>Mass_Action_List_View_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Action List View Flow</label>
    <loops>
        <name>LoopSelectedIDs</name>
        <label>LoopSelectedIDs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Cert_w_Attachment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Selected_IDs</name>
        <label>Show Selected IDs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopSelectedIDs</targetReference>
        </connector>
        <fields>
            <name>selectedIDsMessage</name>
            <fieldText>&lt;p&gt;List of Selected IDs:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!IDs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Show_Selected_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Cert_w_Attachment</name>
        <label>Send Cert w Attachment</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>LoopSelectedIDs</targetReference>
        </connector>
        <flowName>Send_Cert_with_Attachment</flowName>
        <inputAssignments>
            <name>strCourseRegID</name>
            <value>
                <elementReference>LoopSelectedIDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
