force-app/main/default/flows/ModuleFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>353</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>CourseModules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fees</name>
        <label>Update Fees</label>
        <locationX>357</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>Update_Records.Full_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Full_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.SME_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SME_Grant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Non_SME_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Non_SME_Grant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Baseline_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Baseline_Grant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Workfare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Workfare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Mid_Career__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mid_Career__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Full_Fee_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Full_Fee_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.SME_Grant_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SME_Grant_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Non_SME_Grant_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Non_SME_Grant_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Baseline_Grant_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Baseline_Grant_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Workfare_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Workfare_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Records.Mid_Career_GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mid_Career_GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <description>Removed Filtering changes to Prices</description>
    <interviewLabel>ModuleFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ModuleFlowTrigger</label>
    <loops>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>490</locationY>
        <collectionReference>Get_All_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Course_Modules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Modules</name>
        <label>Get All Modules</label>
        <locationX>176</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Module__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Modules</name>
        <label>Update Course Modules</label>
        <locationX>176</locationX>
        <locationY>646</locationY>
        <inputReference>CourseModules</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Modules</targetReference>
        </connector>
        <object>Module__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CourseModules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Module__c</objectType>
    </variables>
</Flow>
