force-app/main/default/flows/Push_Course.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>ActiveCheck</name>
        <label>Is Active?</label>
        <locationX>605</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Update_Submitted_for_Unpublish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SubmittedforUpdateReview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin</name>
        <label>Is Admin?</label>
        <locationX>969</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>ReviewInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesAdminuser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin_User</name>
        <label>Is Admin?</label>
        <locationX>973</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>ReviewInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin_user</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submittedfor_unpublished</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminUser</name>
        <label>Is Admin?</label>
        <locationX>967</locationX>
        <locationY>1004</locationY>
        <defaultConnector>
            <targetReference>ReviewInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YsAdmin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminUsers</name>
        <label>Is Admin?</label>
        <locationX>691</locationX>
        <locationY>1085</locationY>
        <defaultConnector>
            <targetReference>ReviewInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdmins</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>975</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Submited_for_Unpublished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Active_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_submitted_for_update_review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Thumbnail_Available</name>
        <label>Is Thumbnail Available</label>
        <locationX>239</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>No_Thumbnail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Thumbnail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThumbnailURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCourseRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>Is Active?</label>
        <locationX>568</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>NotPublished_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNewCourse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAdmin</name>
        <label>Is Admin?</label>
        <locationX>967</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>NotPublished_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>submitted_creation_review_active</name>
        <label>Is Active?</label>
        <locationX>714</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>IsAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_for_Unpublish_Msg</name>
        <label>Submitted for Unpublish Msg</label>
        <locationX>1904</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>SuccessMessageOnCourse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_unpublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumittedForunpublishedMsg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedUpdateReviewActive</name>
        <label>Is Active?</label>
        <locationX>689</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Admin_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActiveYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnpublishedAcitve</name>
        <label>Is Active?</label>
        <locationX>645</locationX>
        <locationY>596</locationY>
        <defaultConnector>
            <targetReference>MessagewhenUnplished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_acive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SubmittedforUpdateReview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCourseRecord</name>
        <label>UpdateCourseRecord</label>
        <locationX>236</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>ReviewInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Status</defaultConnectorLabel>
        <rules>
            <name>New_RejectedCreationReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsActive</targetReference>
            </connector>
            <label>New&amp;RejectedCreationReview</label>
        </rules>
        <rules>
            <name>Published_RejectedUpdateReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Update Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublish Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActiveCheck</targetReference>
            </connector>
            <label>Published_RejectedUpdateReview</label>
        </rules>
        <rules>
            <name>Update_Unpublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnpublishedAcitve</targetReference>
            </connector>
            <label>Unpublished</label>
        </rules>
        <rules>
            <name>submitted_for_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submitted_creation_review_active</targetReference>
            </connector>
            <label>submitted for Creation</label>
        </rules>
        <rules>
            <name>Submitted_for_Update_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Update Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedUpdateReviewActive</targetReference>
            </connector>
            <label>Submitted for Update Review</label>
        </rules>
        <rules>
            <name>Submitted_for_Unpublish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminUsers</targetReference>
            </connector>
            <label>Submitted for Unpublish</label>
        </rules>
    </decisions>
    <description>MVP 1.0 - Publish Course to CMS via publishing a Platform Event (&quot;Push_Course__e&quot;)

Rearranged for readability</description>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Push_Course {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push_Course</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplicationRecord</name>
        <label>CreateApplicationRecord</label>
        <locationX>1433</locationX>
        <locationY>303</locationY>
        <assignRecordIdToReference>NewApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateCoursePlatformEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Push_Course__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCoursePlatformEvent</name>
        <label>CreateCoursePlatformEvent</label>
        <locationX>1590</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Submitted_for_Unpublish_Msg</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>NewApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Push_Course__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCourseRecord</name>
        <label>GetCourseRecord</label>
        <locationX>238</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Thumbnail_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Publish_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThumbnailURL</assignToReference>
            <field>ThumbnailURL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Submited_for_Unpublished</name>
        <label>Submited for Unpublished</label>
        <locationX>1430</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>submittedfor_unpublished</name>
        <label>submittedfor unpublished</label>
        <locationX>1344</locationX>
        <locationY>877</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CMS_Details</name>
        <label>Update CMS Details</label>
        <locationX>1420</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Unpublish</name>
        <label>Update_Submitted for Unpublish</label>
        <locationX>975</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_submitted_for_update_review</name>
        <label>Update submitted for update review</label>
        <locationX>1602</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SubmittedforUpdateReview</name>
        <label>Update_Submitted for Update Review</label>
        <locationX>973</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewCourse</name>
        <label>UpdateNewCourse</label>
        <locationX>977</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Creation Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusNew</name>
        <label>UpdateStatusNew</label>
        <locationX>1245</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>NotPublished_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <screens>
        <name>MessagewhenUnplished</name>
        <label>MessagewhenUnplished</label>
        <locationX>1068</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageOnCourseWhenUnpublished</name>
            <fieldText>&lt;p&gt;{!$Label.publish_Course_as_Unpublished}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Thumbnail</name>
        <label>No_Thumbnail</label>
        <locationX>50</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Thumbnail_Msg</name>
            <fieldText>&lt;p&gt;{!$Label.CMS_Thumbnail_Not_Available}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotPublished_Msg</name>
        <label>NotPublished Msg</label>
        <locationX>837</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.Course_Not_Published}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewInprogress</name>
        <label>ReviewInprogress</label>
        <locationX>828</locationX>
        <locationY>1329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NonAdminMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Course_Pending_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessageOnCourse</name>
        <label>SuccessMessageOnCourse</label>
        <locationX>1670</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AdminSuccessMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Course_Success_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SumittedForunpublishedMsg</name>
        <label>SumittedForunpublishedMsg</label>
        <locationX>2094</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;{!$Label.Submitted_for_Unpublish_Msg_Course}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>GetCourseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThumbnailURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
