force-app/main/default/flows/Push_Course_Run_To_LMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Provider_and_Is_Course_Active</name>
        <label>Check Provider and Is Course Active</label>
        <locationX>289</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Course_and_Provider_is_SIM_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Run_Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course.Mode_Of_Study__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Provider_Status_to_Sent</targetReference>
            </connector>
            <label>Active Course and Provider is SIM Online</label>
        </rules>
        <rules>
            <name>Course_Run_is_being_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Run_Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Provider_Status_to_Sent</targetReference>
            </connector>
            <label>Course Run is being deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Provider_Status</name>
        <label>Check Provider Status</label>
        <locationX>540</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Status_is_Draft_Activated_Deactivated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callout Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Provider_and_Is_Course_Active</targetReference>
            </connector>
            <label>Provider Status is Draft/Activated/Deactivated</label>
        </rules>
        <rules>
            <name>Provider_Status_is_Sent_Course_published_by_System_Admin_Integration_profile_use</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ApplicationLog</targetReference>
            </connector>
            <label>Provider Status is Sent &amp; Course published by System Admin/Integration profile user</label>
        </rules>
        <rules>
            <name>Provider_Status_is_Sent_Course_published_by_Non_System_Admin_Integration_profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Run_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgress_Screen</targetReference>
            </connector>
            <label>Provider Status is Sent &amp; Course published by Non System Admin/Integration profile user</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvalidMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Course_Run_Record.Active__c} == false &amp;&amp; NOT(ISPICKVAL({!Course.Provider__c},&quot;SIM Online&quot;)),{!$Label.Inactive_LMS_CourseRun_Message} &amp; {!$Label.CourseRun_Invalid_Provider_Message}, IF(NOT(ISPICKVAL({!Course.Provider__c} ,&quot;SIM Online&quot;)),{!$Label.CourseRun_Invalid_Provider_Message}, IF({!Course_Run_Record.Active__c}== false, {!$Label.Inactive_LMS_CourseRun_Message}, &apos;&apos;)))</expression>
    </formulas>
    <interviewLabel>Push_Course_Run_To_LMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push Course Run To LMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ApplicationLog</name>
        <label>Create ApplicationLog</label>
        <locationX>592</locationX>
        <locationY>663</locationY>
        <assignRecordIdToReference>applicationLogId</assignRecordIdToReference>
        <connector>
            <targetReference>publish_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>SIM_Canvas_Course_Run__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>Course_Run_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>publish_Event</name>
        <label>publish Event</label>
        <locationX>597</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>applicationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>Course_Run_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SIM_Canvas_Course_Run__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Course</name>
        <label>Course</label>
        <locationX>242</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Provider_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Run_Record.Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Course_Run_Record</name>
        <label>Course Run Record</label>
        <locationX>86</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Provider_Status_to_Sent</name>
        <label>Update Provider Status to Sent</label>
        <locationX>234</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>Create_ApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <screens>
        <name>InProgress_Screen</name>
        <label>InProgress Screen</label>
        <locationX>724</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InProgress_Message</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_CourseRun_to_SIM_In_Progress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid</name>
        <label>Invalid</label>
        <locationX>413</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Criteria_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!InvalidMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>601</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_CourseRun_to_SIM_Sent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Course_Run_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
