force-app/main/default/flows/Push_Course_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Admin_IntegrationUser</name>
        <label>Admin/IntegrationUser</label>
        <locationX>1700</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Review_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdmin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS</targetReference>
            </connector>
            <label>YesAdmin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin_User</name>
        <label>Admin User?</label>
        <locationX>1042</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Review_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminUserOrNot</name>
        <label>AdminUserOrNot?</label>
        <locationX>1895</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Review_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublishActive</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Thumbnail_is_Available</name>
        <label>Check if Thumbnail is Available</label>
        <locationX>768</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>No_Thumbnail_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Thumbnail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThumbnailURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCategoryRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AdminUser</name>
        <label>AdminUser?</label>
        <locationX>1222</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMessge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_as_New</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAcitve</name>
        <label>IsAcitve</label>
        <locationX>410</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Update_Submitted_for_Unpublish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAdmin</name>
        <label>IsAdmin?</label>
        <locationX>1797</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Review_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdminUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublish</targetReference>
            </connector>
            <label>AdminUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rec_Active</name>
        <label>Rec Active</label>
        <locationX>268</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMessge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Submitted_for_Creation_Review</targetReference>
            </connector>
            <label>Yes Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_for_creation_isAcitve</name>
        <label>Submitted for creation isAcitve?</label>
        <locationX>964</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Is_AdminUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_User</targetReference>
            </connector>
            <label>YesActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedForUnpublishActive</name>
        <label>SubmittedForUnpublishActive</label>
        <locationX>1605</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>Submited_for_Unpublished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Active_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updatesubmitted_for_update_review</targetReference>
            </connector>
            <label>Active rec??</label>
        </rules>
    </decisions>
    <decisions>
        <name>submittedForUnpublished</name>
        <label>submittedForUnpublished</label>
        <locationX>1015</locationX>
        <locationY>1339</locationY>
        <defaultConnector>
            <targetReference>Successfully_Published</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Unpublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublisd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>submittedForUpdateActive</name>
        <label>submittedForUpdateActive</label>
        <locationX>1245</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>IsAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActiveTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_IntegrationUser</targetReference>
            </connector>
            <label>ActiveTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>unpublished_Active</name>
        <label>unpublished Active</label>
        <locationX>843</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>Currently_Unpublished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCategoryRecord</name>
        <label>UpdateCategoryRecord</label>
        <locationX>772</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Review_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Status</defaultConnectorLabel>
        <rules>
            <name>New_RejectedCreationReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rec_Active</targetReference>
            </connector>
            <label>New&amp;RejectedCreationReview</label>
        </rules>
        <rules>
            <name>Published_RejectedUpdateReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Update Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublish Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAcitve</targetReference>
            </connector>
            <label>Published_RejectedUpdateReview</label>
        </rules>
        <rules>
            <name>Unpublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>unpublished_Active</targetReference>
            </connector>
            <label>Unpublished</label>
        </rules>
        <rules>
            <name>submitted_for_Creation_Review</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_for_creation_isAcitve</targetReference>
            </connector>
            <label>submitted for Creation</label>
        </rules>
        <rules>
            <name>Submitted_for_Update_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Update Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submittedForUpdateActive</targetReference>
            </connector>
            <label>Submitted for Update Review</label>
        </rules>
        <rules>
            <name>Submitted_for_Unpublish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminUserOrNot</targetReference>
            </connector>
            <label>Submitted for Unpublish</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Push_Course_Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push_Course_Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplicationLog</name>
        <label>CreateApplicationLog</label>
        <locationX>745</locationX>
        <locationY>1194</locationY>
        <assignRecordIdToReference>NewApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateCategoryEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Push_Category__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCategoryEvent</name>
        <label>CreateCategoryEvent</label>
        <locationX>780</locationX>
        <locationY>1342</locationY>
        <connector>
            <targetReference>submittedForUnpublished</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>NewApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Push_Category__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCategoryRecord</name>
        <label>GetCategoryRecord</label>
        <locationX>771</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Thumbnail_is_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Category__c</object>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Publish_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThumbnailURL</assignToReference>
            <field>Thumbnail_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Submited_for_Unpublished</name>
        <label>Submited for Unpublished</label>
        <locationX>1814</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SubmittedForUnpublish</name>
        <label>SubmittedForUnpublish</label>
        <locationX>1895</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_as_Submitted_for_Creation_Review</name>
        <label>Update as Submitted for Creation Review</label>
        <locationX>50</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Creation Review</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CMS</name>
        <label>Update CMS</label>
        <locationX>1164</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_as_New</name>
        <label>Update Status as New</label>
        <locationX>1242</locationX>
        <locationY>721</locationY>
        <connector>
            <targetReference>NotPublishedMessge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Unpublish</name>
        <label>Update_Submitted for Unpublish</label>
        <locationX>753</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Update_Review</name>
        <label>Update_Submitted for Update Review</label>
        <locationX>431</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updatesubmitted_for_update_review</name>
        <label>Update submitted for update review</label>
        <locationX>1454</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Category__c</object>
    </recordUpdates>
    <screens>
        <name>Currently_Unpublished</name>
        <label>Currently Unpublished</label>
        <locationX>892</locationX>
        <locationY>776</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Currently_Unpublished_Message</name>
            <fieldText>&lt;p&gt;{!$Label.&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Publish_Category_Currently_Unpublished&lt;/span&gt;}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Thumbnail_Msg</name>
        <label>No Thumbnail Msg</label>
        <locationX>528</locationX>
        <locationY>369</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Thumbnail_MsgText</name>
            <fieldText>&lt;p&gt;{!$Label.CMS_Thumbnail_Not_Available}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotPublishedMessge</name>
        <label>NotPublishedMessge</label>
        <locationX>273</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.Category_Not_Published}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_in_Progress</name>
        <label>Review in Progress</label>
        <locationX>1584</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>In_Review</name>
            <fieldText>&lt;p&gt;{!$Label.NonAdminMsgOnCategory}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmittedForUnpublisd</name>
        <label>SubmittedForUnpublisd</label>
        <locationX>1001</locationX>
        <locationY>1488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;{!$Label.Submitted_for_Unpublish_Msg_Category}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Published</name>
        <label>Successfully Published</label>
        <locationX>1201</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Temp_Label</name>
            <fieldText>&lt;p&gt;{!$Label.SceenMessageOnCategory}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>643</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCategoryRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThumbnailURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
