force-app/main/default/flows/Push_Course_Run.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Admin</name>
        <label>Admin</label>
        <locationX>341</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>ReviewMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesAdmin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin2</name>
        <label>Admin</label>
        <locationX>50</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>ReviewMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminOrNot</name>
        <label>Admin?</label>
        <locationX>149</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>ReviewMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdminUsr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublishActive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminSubmitForUpdate</name>
        <label>Admin</label>
        <locationX>185</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>ReviewMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdminUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreationAdmin</name>
        <label>Admin</label>
        <locationX>252</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Creation_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_as_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewActive</name>
        <label>Active</label>
        <locationX>283</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNewCourseRunRec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PublishedActive</name>
        <label>Active</label>
        <locationX>326</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Update_Submitted_for_Unpublish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedForCreationActive</name>
        <label>Active</label>
        <locationX>189</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>CreationAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActiveYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedForUnpublishActive</name>
        <label>Active</label>
        <locationX>851</locationX>
        <locationY>836</locationY>
        <defaultConnector>
            <targetReference>Submited_for_Unpublished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActiveRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_submitted_for_updatereview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedForUnpublished</name>
        <label>SubmittedForUnpublished</label>
        <locationX>1185</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>AdminSuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_unpublised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unpublised</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmuttedForUpdateActive</name>
        <label>Active</label>
        <locationX>51</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Admin2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Active_YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminSubmitForUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnpublishActive</name>
        <label>Active</label>
        <locationX>219</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>UnpublishedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCourseRunStatus</name>
        <label>UpdateCourseRunStatus</label>
        <locationX>59</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>ReviewMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Status</defaultConnectorLabel>
        <rules>
            <name>New_RejectedCreationReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewActive</targetReference>
            </connector>
            <label>New&amp;RejectedCreationReview</label>
        </rules>
        <rules>
            <name>Published_RejectedUpdateReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Update Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublish Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PublishedActive</targetReference>
            </connector>
            <label>Published_RejectedUpdateReview</label>
        </rules>
        <rules>
            <name>Unpublised_CourseRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnpublishActive</targetReference>
            </connector>
            <label>Unpublised</label>
        </rules>
        <rules>
            <name>submitted_for_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForCreationActive</targetReference>
            </connector>
            <label>submitted for Creation</label>
        </rules>
        <rules>
            <name>Submitted_for_Update_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Update Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmuttedForUpdateActive</targetReference>
            </connector>
            <label>Submitted for Update Review</label>
        </rules>
        <rules>
            <name>Submitted_for_Unpublish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminOrNot</targetReference>
            </connector>
            <label>Submitted for Unpublish</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Push_Course_Run {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push_Course_Run</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplicationRecord</name>
        <label>CreateApplicationRecord</label>
        <locationX>981</locationX>
        <locationY>52</locationY>
        <assignRecordIdToReference>NewApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateCourseRunEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Push_Course_Run__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCourseRunEvent</name>
        <label>CreateCourseRunEvent</label>
        <locationX>1082</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>SubmittedForUnpublished</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>NewApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Push_Course_Run__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCourseRunRecord</name>
        <label>GetCourseRunRecord</label>
        <locationX>58</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCourseRunStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Course_Run__c</object>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Publish_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Submited_for_Unpublished</name>
        <label>Submited for Unpublished</label>
        <locationX>1100</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SubmittedForUnpublish</name>
        <label>SubmittedForUnpublish</label>
        <locationX>700</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CMS_Details</name>
        <label>Update CMS Details</label>
        <locationX>709</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_as_New</name>
        <label>Update Status as New</label>
        <locationX>549</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>NotPublishedMsg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Unpublish</name>
        <label>Update_Submitted for Unpublish</label>
        <locationX>610</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Update_Review</name>
        <label>Update_Submitted for Update Review</label>
        <locationX>493</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_submitted_for_updatereview</name>
        <label>Update submitted for update review</label>
        <locationX>867</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewCourseRunRec</name>
        <label>UpdateNewCourseRunRec</label>
        <locationX>355</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>CreateApplicationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Creation Review</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Run__c</object>
    </recordUpdates>
    <screens>
        <name>AdminSuccessMessage</name>
        <label>AdminSuccessMessage</label>
        <locationX>1307</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_CourseRun_Success_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotPublishedMsg</name>
        <label>NotPublishedMsg</label>
        <locationX>508</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.CourseRunNotPublished}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewMsg</name>
        <label>ReviewMsg</label>
        <locationX>466</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnpublishedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.Publish_CourseRun_Pending_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unpublised</name>
        <label>Unpublised</label>
        <locationX>1340</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;{!$Label.Submitted_for_Unpublish_Msg_CourseRun}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnpublishedMsg</name>
        <label>UnpublishedMsg</label>
        <locationX>964</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NonAdminMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Course_Run_Currently_Unpublished}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>7</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>GetCourseRunRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
