force-app/main/default/flows/Push_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Active_submittedForUnpublish</name>
        <label>Active</label>
        <locationX>253</locationX>
        <locationY>823</locationY>
        <defaultConnector>
            <targetReference>Submited_for_Unpublished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Active_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updatesubmitted_for_update_review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin</name>
        <label>Admin?</label>
        <locationX>469</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>ReviewMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdmin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin_User</name>
        <label>Admin User?</label>
        <locationX>355</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin_user</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdminUser</name>
        <label>Admin?</label>
        <locationX>283</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>ReviewMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdminuser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMS_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Active?</label>
        <locationX>272</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>NotPublishedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_as_Submitted_for_Creation_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>publishedActive</name>
        <label>Active</label>
        <locationX>423</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Update_Submitted_for_Unpublish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>submittedCreation_Active</name>
        <label>Active</label>
        <locationX>296</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Admin_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActiveYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedFor_Unpublished</name>
        <label>SubmittedForUnpublished</label>
        <locationX>1259</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>SuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_unpublised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>unpublishMsg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>submittedForUpdateActive</name>
        <label>Active</label>
        <locationX>149</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>SubmitUpdateReviewAdmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAcive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmittedUnpublishedACtive</name>
        <label>Admin?</label>
        <locationX>108</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>ReviewMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>submittedunblished_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_submittedForUnpublish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmitUpdateReviewAdmin</name>
        <label>Admin</label>
        <locationX>862</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>ReviewMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedForUnpublished</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>unpublishActive</name>
        <label>Active</label>
        <locationX>413</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>MessageWhenDiscountUnblished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_for_Update_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateDiscount</name>
        <label>UpdateDiscount</label>
        <locationX>119</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>ReviewMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Status</defaultConnectorLabel>
        <rules>
            <name>New_RejectedCreationReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Active</targetReference>
            </connector>
            <label>New&amp;RejectedCreationReview</label>
        </rules>
        <rules>
            <name>Published_RejectedUpdateReview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Update Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublish Call out Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>publishedActive</targetReference>
            </connector>
            <label>Published_RejectedUpdateReview</label>
        </rules>
        <rules>
            <name>Un_published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpublished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>unpublishActive</targetReference>
            </connector>
            <label>Unpublished</label>
        </rules>
        <rules>
            <name>submitted_for_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Creation Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submittedCreation_Active</targetReference>
            </connector>
            <label>submitted for Creation</label>
        </rules>
        <rules>
            <name>Submitted_for_Update_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Update Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submittedForUpdateActive</targetReference>
            </connector>
            <label>Submitted for Update Review</label>
        </rules>
        <rules>
            <name>SubmittedforUnpublish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Unpublish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedUnpublishedACtive</targetReference>
            </connector>
            <label>Submitted for Unpublish</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Push_Discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push_Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplicationLog</name>
        <label>CreateApplicationLog</label>
        <locationX>990</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>NewAppllicationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateDiscountEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>Push_Discount__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDiscountEvent</name>
        <label>CreateDiscountEvent</label>
        <locationX>1156</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>SubmittedFor_Unpublished</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>NewAppllicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Push_Discount__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDiscountRecord</name>
        <label>GetDiscountRecord</label>
        <locationX>154</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateDiscount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Discount__c</object>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Publish_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Submited_for_Unpublished</name>
        <label>Submited for Unpublished</label>
        <locationX>1294</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SubmittedForUnpublished</name>
        <label>SubmittedForUnpublish</label>
        <locationX>980</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_as_Submitted_for_Creation_Review</name>
        <label>Update as Submitted for Creation Review</label>
        <locationX>426</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Creation Review</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CMS_Details</name>
        <label>Update CMS Details</label>
        <locationX>806</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Unpublish</name>
        <label>Update_Submitted for Unpublish</label>
        <locationX>1103</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Unpublish</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_for_Update_Review</name>
        <label>Update_Submitted for Update Review</label>
        <locationX>631</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusNew</name>
        <label>UpdateStatusNew</label>
        <locationX>637</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>NotPublishedMsg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updatesubmitted_for_update_review</name>
        <label>Update submitted for update review</label>
        <locationX>1207</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>CreateApplicationLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Request_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Request_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Status__c</field>
            <value>
                <stringValue>Submitted for Update Review</stringValue>
            </value>
        </inputAssignments>
        <object>Discount__c</object>
    </recordUpdates>
    <screens>
        <name>MessageWhenDiscountUnblished</name>
        <label>MessageWhenDiscountUnblished</label>
        <locationX>640</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PublishDiscountCurrentlyUnblished</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Discount_Currently_Unpublished}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotPublishedMsg</name>
        <label>NotPublishedMsg</label>
        <locationX>769</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.DiscountNotPublished}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewMessage</name>
        <label>ReviewMessage</label>
        <locationX>890</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NonAdminMessageWhenPending</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Publish_Discount_Pending}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>1446</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PublishSuccessMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Discount_successMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>unpublishMsg</name>
        <label>unpublishMsg</label>
        <locationX>1355</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;{!$Label.Submitted_for_Unpublish_Msg_Discount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>GetDiscountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAppllicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
