force-app/main/default/flows/Push_Course_To_LMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Provider_and_Is_Course_Active</name>
        <label>Check Provider and  Is Course Active</label>
        <locationX>543</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Course_and_Provider_is_SIM_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Mode_Of_Study__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Provider_Status_to_Sent</targetReference>
            </connector>
            <label>Active Course and Provider is SIM Online</label>
        </rules>
        <rules>
            <name>Course_is_being_deactived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Provider_Status_to_Sent</targetReference>
            </connector>
            <label>Course is being deactived</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Provider_Status</name>
        <label>Check Provider Status</label>
        <locationX>651</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Status_is_Draft_Activated_Deactivated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callout Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Provider_and_Is_Course_Active</targetReference>
            </connector>
            <label>Provider Status is Draft/Activated/Deactivated</label>
        </rules>
        <rules>
            <name>Provider_Status_is_Sent_Course_published_by_System_Admin_Integration_profile_use</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Log</targetReference>
            </connector>
            <label>Provider Status is Sent &amp; Course published by System Admin/Integration profile user</label>
        </rules>
        <rules>
            <name>Provider_Status_is_Sent_Course_published_by_Non_System_Admin_Integration_profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Record.Provider_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Screen</targetReference>
            </connector>
            <label>Provider Status is Sent &amp; Course published by Non System Admin/Integration profile user</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvalidMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Course_Record.Active__c}==false &amp;&amp; NOT(ISPICKVAL({!Course_Record.Provider__c} ,&quot;SIM Online&quot;)), {!$Label.Inactive_LMS_Course_Message} &amp; {!$Label.Course_Invalid_Provider_Message}, IF(NOT(ISPICKVAL({!Course_Record.Provider__c} ,&quot;SIM Online&quot;)), {!$Label.Course_Invalid_Provider_Message},IF({!Course_Record.Active__c}==false ,{!$Label.Inactive_LMS_Course_Message},&apos;&apos;) ))</expression>
    </formulas>
    <interviewLabel>Push Course To LMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push Course To LMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>988</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>applicationLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <stringValue>SIM_Canvas_Course__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>Course_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>1241</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>applicationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>Course_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SIM_Canvas_Course__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Course_Record</name>
        <label>Course Record</label>
        <locationX>494</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Provider_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Provider_Status_to_Sent</name>
        <label>Update Provider Status to Sent</label>
        <locationX>965</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Create_Application_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <screens>
        <name>In_Progress_Screen</name>
        <label>In Progress Screen</label>
        <locationX>922</locationX>
        <locationY>38</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>In_Progress_Message</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Course_to_SIM_In_Progress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid</name>
        <label>Invalid</label>
        <locationX>754</locationX>
        <locationY>450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Criteria_Message</name>
            <fieldText>&lt;p&gt;{!InvalidMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1228</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!$Label.Publish_Course_to_SIM_Sent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>372</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Course_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
