force-app/main/default/flows/ReceiptFlowTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Generate_Receipt</name>
        <label>Set Generate Receipt</label>
        <locationX>45</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice_Record.Generate_Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Invoice_Payment_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Payment_Status</name>
        <label>Set Invoice Payment Status</label>
        <locationX>269</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Invoice</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Generate_Receipt_Event</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate_Receipt__e</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Invoice_No_has_Reference_Number</name>
        <label>If Invoice No has Reference Number</label>
        <locationX>257</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Set_Invoice_Payment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>(Yes Or No) And is not ECARD</defaultConnectorLabel>
        <rules>
            <name>Yes_InvoiceRef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Reference_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment__r.Payment_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Record</targetReference>
            </connector>
            <label>Yes And is ECARD</label>
        </rules>
        <rules>
            <name>No_InvoiceRef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Reference_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment__r.Payment_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Generate_Receipt</targetReference>
            </connector>
            <label>No And is ECARD</label>
        </rules>
    </decisions>
    <interviewLabel>ReceiptFlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReceiptFlowTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>482</locationX>
        <locationY>520</locationY>
        <assignRecordIdToReference>Receipt_AppLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Publish_Generate_Receipt_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Platform_Event_Name__c</field>
            <value>
                <elementReference>Generate_Receipt_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Generate_Receipt_Event</name>
        <label>Publish Generate Receipt Event</label>
        <locationX>648</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Set_Invoice_Payment_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationLogId__c</field>
            <value>
                <elementReference>Receipt_AppLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Generate_Receipt__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>266</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment__r.Invoice__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Lookup</name>
        <label>Update Invoice Lookup</label>
        <locationX>265</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>If_Invoice_No_has_Reference_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Receipt__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Invoice</name>
        <label>Update Related Invoice</label>
        <locationX>268</locationX>
        <locationY>932</locationY>
        <inputReference>Get_Invoice_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>141</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
        <object>Receipt__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllInvoicesPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Generate_Receipt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>Receipt_AppLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
