force-app/main/default/flows/Receipt_Request_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RedirectToInProgressNote</name>
        <label>RedirectToInProgressNote</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>inProgressNoteId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectToNote</name>
        <label>RedirectToNote</label>
        <locationX>920</locationX>
        <locationY>708</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>noteId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CC</name>
        <choiceText>CC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHEQUE</name>
        <choiceText>CHEQUE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHEQUE</stringValue>
        </value>
    </choices>
    <choices>
        <name>GIRO</name>
        <choiceText>GIRO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GIRO</stringValue>
        </value>
    </choices>
    <choices>
        <name>MOTO</name>
        <choiceText>MOTO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MOTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NETS</name>
        <choiceText>NETS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NETS</stringValue>
        </value>
    </choices>
    <choices>
        <name>TT</name>
        <choiceText>TT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TT</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Has_In_Progress_Notes</name>
        <label>Has In Progress Notes</label>
        <locationX>267</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>InProgressScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inProgressNoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Refund</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Payment_Date_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Date__c</picklistField>
        <picklistObject>Accounting_Notes__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Mode_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Mode__c</picklistField>
        <picklistObject>Accounting_Notes__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Remark_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Remark_Type__c</picklistField>
        <picklistObject>Accounting_Notes__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Receipt Request Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receipt Request Refund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Accounting_Note</name>
        <label>Create Accounting Note</label>
        <locationX>713</locationX>
        <locationY>536</locationY>
        <assignRecordIdToReference>noteId</assignRecordIdToReference>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>Attention_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Account__c</field>
            <value>
                <elementReference>Payee_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Bank_GIRO_Code__c</field>
            <value>
                <elementReference>Payee_Bank_GIRO_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Branch__c</field>
            <value>
                <elementReference>Payee_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Mode__c</field>
            <value>
                <elementReference>Payment_Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Refund_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark_Type__c</field>
            <value>
                <elementReference>Remark_TypeScreen</elementReference>
            </value>
        </inputAssignments>
        <object>Accounting_Notes__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_In_Progress_Notes</name>
        <label>Get In Progress Notes</label>
        <locationX>269</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_In_Progress_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Receipt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Note_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <object>Accounting_Notes__c</object>
        <outputAssignments>
            <assignToReference>inProgressNoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Record_Type</name>
        <label>Get Refund Record Type</label>
        <locationX>713</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Accounting_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting_Notes__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InProgressScreen</name>
        <label>InProgressScreen</label>
        <locationX>50</locationX>
        <locationY>355</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToInProgressNote</targetReference>
        </connector>
        <fields>
            <name>InProgressScreenText</name>
            <fieldText>&lt;p&gt;There is an existing Refund Request for this record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Refund</name>
        <label>Request Refund</label>
        <locationX>496</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Refund_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Attention_To</name>
            <dataType>String</dataType>
            <fieldText>Attention To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remark_TypeScreen</name>
            <choiceReferences>Remark_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Remark Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <choiceReferences>Payment_Date_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Payment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Mode</name>
            <choiceReferences>CHEQUE</choiceReferences>
            <choiceReferences>GIRO</choiceReferences>
            <choiceReferences>CC</choiceReferences>
            <choiceReferences>TT</choiceReferences>
            <choiceReferences>MOTO</choiceReferences>
            <choiceReferences>NETS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CHEQUE</defaultSelectedChoiceReference>
            <fieldText>Payment Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payee_Account</name>
            <dataType>String</dataType>
            <fieldText>Payee Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payee_Bank_GIRO_Code</name>
            <dataType>String</dataType>
            <fieldText>Payee Bank GIRO Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payee_Branch</name>
            <dataType>String</dataType>
            <fieldText>Payee Branch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>719</locationX>
        <locationY>713</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToNote</targetReference>
        </connector>
        <fields>
            <name>ResultText</name>
            <fieldText>&lt;p&gt;Accounting Note has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will now redirect you to the accounting note&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>142</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_In_Progress_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounting_Notes__c</objectType>
    </variables>
    <variables>
        <name>inProgressNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
