force-app/main/default/flows/Shadow_invoice_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignAmount</name>
        <label>AssignAmount</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>dblAmountAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dblAmountWAmountGST</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dblGSTAmountAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setInvoiceLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInvoiceLineItem</name>
        <label>setInvoiceLineItem</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dblAmountAll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Bill_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Bill_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Cost_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Course_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Course_Run__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShadowInvoiceDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IBFFUNCR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dblGSTAmountAll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strNewInvoiceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInvoiceDiscounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInvoiceLineItem_0_0</name>
        <label>setInvoiceLineItem</label>
        <locationX>528</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dblAmountWAmountGST</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Bill_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Bill_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Cost_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Course_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Course_Run__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShadowInvoiceDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WDAGRANT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strNewInvoiceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInvoiceDiscounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInvoiceLineItem_0_0_0</name>
        <label>setInvoiceLineItem</label>
        <locationX>792</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dblAmountWAmountGST</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Bill_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Bill_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Cost_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Course_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Course_Run__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShadowInvoiceDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Fee_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFCREDIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.GST_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInvoiceDiscounts.GST_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strNewInvoiceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInvoiceDiscounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_Funding</name>
        <label>Select Funding</label>
        <locationX>660</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>LoopInvoiceDiscounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IBF1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInvoiceDiscounts.Discount__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IBF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoiceDiscountDetails.Discount__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IBF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAmount</targetReference>
            </connector>
            <label>IBF</label>
        </rules>
        <rules>
            <name>SSG_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInvoiceDiscounts.Discount__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSG Funding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoiceDiscountDetails.Discount__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSG Funding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInvoiceLineItem_0_0</targetReference>
            </connector>
            <label>SSG Funding</label>
        </rules>
        <rules>
            <name>SkillFuture_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInvoiceDiscounts.Discount__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SkillsFuture Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoiceDiscountDetails.Discount__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SkillsFuture Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInvoiceLineItem_0_0_0</targetReference>
            </connector>
            <label>SkillFuture Credit</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDateAddCreditTermDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!GetInvoiceDetails.Account__r.Credit_Term_Days__c}</expression>
    </formulas>
    <formulas>
        <name>dblAmountGST</name>
        <dataType>Number</dataType>
        <expression>{!newInvoiceLineItem.GST_Amount__c} + {!LoopInvoiceDiscounts.GST_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>dblAmountWAmountGST</name>
        <dataType>Number</dataType>
        <expression>{!LoopInvoiceDiscounts.Amount__c} + {!LoopInvoiceDiscounts.GST_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ShadowInvoiceDesc</name>
        <dataType>String</dataType>
        <expression>{!GetInvoiceDetails.Course_Registration__r.Course_Run_Id__r.Course__r.Course_Title__c} &amp; 
Substitute({!$Label.Temp_New_Line},&quot;-&quot;,&quot;&quot;) &amp;
{!GetInvoiceDetails.Course_Registration__r.Course_Run_Id__r.Course_Run_Start_End_Date__c} &amp;
Substitute({!$Label.Temp_New_Line},&quot;-&quot;,&quot;&quot;) &amp;
{!GetInvoiceDiscountDetails.Discount__r.Name} &amp; 
&apos; (Name/Ref: &apos; &amp; {!GetInvoiceDetails.Course_Registration__r.Contact__r.FirstName} &amp; &quot; &quot;  &amp; {!GetInvoiceDetails.Course_Registration__r.Contact__r.LastName} &amp; 
&apos; / &apos; &amp; {!GetInvoiceDetails.Reference_No__c} &amp;
&apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Shadow invoice Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shadow invoice Flow9</label>
    <loops>
        <name>LoopInvoiceDiscounts</name>
        <label>LoopInvoiceDiscounts</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>GetAllInvoiceDiscount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Funding</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewInvoiceLineItemDiscount_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewInvoiceDetails</name>
        <label>NewInvoiceDetails</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>strNewInvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Invoice_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetInvoiceDiscountDetails.Discount__r.Account_Funding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>GetInvoiceDiscountDetails.Discount__r.Account_Funding__r.Billing_Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Due_Date__c</field>
            <value>
                <elementReference>CurrentDateAddCreditTermDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Registration__c</field>
            <value>
                <elementReference>GetInvoiceDetails.Course_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Run_Owner_Email__c</field>
            <value>
                <elementReference>GetInvoiceDetails.Course_Run_Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <stringValue>Shadow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learner_Email__c</field>
            <value>
                <elementReference>GetInvoiceDetails.Learner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetInvoiceDetails.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>NewInvoiceLineItemDiscount_0</name>
        <label>NewInvoiceLineItemDiscount</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Invoice_is_Created</targetReference>
        </connector>
        <inputReference>newInvoiceLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAllInvoiceDiscount</name>
        <label>GetAllInvoiceDiscount</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInvoiceDiscounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceDiscountDetails.Invoice_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GetInvoiceDetails</description>
        <name>GetInvoiceDetails</name>
        <label>GetInvoiceDetails</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewInvoiceDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLineItem.Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GetInvoiceDiscountDetails</description>
        <name>GetInvoiceDiscountDetails</name>
        <label>GetInvoiceDiscountDetails</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoiceLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoiceLineItem</name>
        <label>GetInvoiceLineItem</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoiceDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceDiscountDetails.Invoice_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Invoice_Created</name>
        <label>Invoice Created</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAllInvoiceDiscount</targetReference>
        </connector>
        <fields>
            <name>InvoiceCreated</name>
            <fieldText>&lt;p&gt;Invoice has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_is_Created</name>
        <label>Invoice is Created</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>setRedirectInvoice</name>
            <extensionName>c:FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>strNewInvoiceID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>strNewInvoiceID</assignToReference>
                <name>recId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInvoiceDiscountDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dblAmountAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>dblGSTAmountAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>dblInvoiceDiscountAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>dblInvoiceDiscountGSTAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strInvoiceDiscountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strNewInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
